/* Control for elements that display only in either direct or calc mode */
:root {
  --calc-mode-display  : inherit;
  --calc-mode-row      : table-row;
  --calc-mode-cell     : table-cell;
  --direct-mode-display: none;
  --direct-mode-row    : none;
  --direct-mode-cell   : none;

  --radar-mode-display: block;
  --fan-mode-display  : none;
}

[input-mode="direct"] {
  --calc-mode-display  : none;
  --calc-mode-row      : none;
  --calc-mode-cell     : none;
  --direct-mode-display: block;
  --direct-mode-row    : table-row;
  --direct-mode-cell   : table-cell;
}

[chart-mode="fan"] {
  --radar-mode-display: none;
  --fan-mode-display  : block;
}

.calc-mode-only {
  display: var(--calc-mode-display) !important;
}

td.calc-mode-only,
th.calc-mode-only {
  display: var(--calc-mode-cell) !important;
}

tr.calc-mode-only {
  display: var(--calc-mode-row) !important;
}

.direct-mode-only {
  display: var(--direct-mode-display) !important;
}

td.direct-mode-only,
th.direct-mode-only {
  display: var(--direct-mode-cell) !important;
}

tr.direct-mode-only {
  display: var(--direct-mode-row) !important;
}

.radar-mode-only {
  display: var(--radar-mode-display) !important;
}

.fan-mode-only {
  display: var(--fan-mode-display) !important;
}

/* Customisation of input boxes */
input.deviation-value {
  text-align: right;
}

input:disabled {
  background-color: var(--psdi-bg-color-secondary);
}

[data-theme='dark'] input:disabled {
  background-color: var(--psdi-dm-bg-color-secondary-dark);
}

/* Buttons that are initially disabled */
button:disabled {
  background-color: var(--psdi-bg-color-secondary);
  border-color    : rgba(118, 118, 118, 0.3);
  color           : gray
}

/* Button with a fixed small size */
button.fix-size-small {
  height : 2rem;
  width  : 1.5rem;
  padding: 0;
}

tr td:first-child button {
  margin-left: 0;
}

#glorius-plot {
  width: 700px;
}

.hidden {
  display: none;
}

/* Style the output label table */
.output-label {
  font-weight  : bold;
  padding-right: 0.5rem;
}

.output-label-row {
  height: 2rem;
}

/* Style the sensitivity table */
.sensitivity-table th {
  max-width    : 7rem;
  padding-right: 0.5rem;
}

.sensitivity-table td {
  padding-top   : 0.25rem;
  padding-bottom: 0.25rem;
  min-height    : 3rem;
}

.condition-label-cell,
.baseline-value-cell,
.sample-value-cell,
.deviation-value-cell {
  padding-right: 0.5rem;
}

input.condition-label {
  max-width: 10rem;
}

.baseline-line-container,
.sample-line-container,
.deviation-line-container {
  display        : flex;
  flex-direction : column;
  justify-content: center;
}

input.baseline-value,
input.sample-value,
input.deviation-value {
  max-width: 5rem;
}

.baseline-input-line,
.sample-input-line,
.deviation-input-line {
  display        : flex;
  flex-direction : row;
  justify-content: start;
  gap            : 0.25rem;
}

button#reset-plot-dims {
  margin-left: 0;
}

/* Dotted underline to indicate text that will show a tooltip on mouseover */
.mouseover {
  text-decoration: underline dotted;
}

/* Style the popup tooltips */
.tooltip {
  --bs-tooltip-opacity: 1;
}

.tooltip-on-light {
  --bs-tooltip-bg   : var(--ifm-color-primary);
  --bs-tooltip-color: var(--psdi-light-text-color-body);
}

.tooltip-on-dark {
  --bs-tooltip-bg   : var(--ifm-background-color);
  --bs-tooltip-color: var(--psdi-dark-text-color-body);
}

/* Canvas styling */
.white-bg {
  background-color: white;
}