input.sens-value {
  text-align: right;
}

/* Buttons that are initially disabled */
button:disabled {
  background-color: var(--psdi-bg-color-secondary);
  border-color    : rgba(118, 118, 118, 0.3);
  color           : gray
}

/* Button with a fixed small size */
button.fix-size-small {
  height : 2rem;
  width  : 1.5rem;
  padding: 0;
}

tr>td:first-child>button:first-child {
  margin-left: 0;
}

#glorius-plot {
  width    : 100vw;
  max-width: 700px;
}

.hidden {
  display: none;
}

/* Style the sensitivity table */
.sens-table td {
  padding-top   : 0.25rem;
  padding-bottom: 0.25rem;
}

.sens-value-cell {
  display       : flex;
  flex-direction: column;
}

.sens-input-line {
  display        : flex;
  flex-direction : row;
  justify-content: start;
  gap            : 0.25rem;
}

/* Dotted underline to indicate text that will show a tooltip on mouseover */
.mouseover {
  text-decoration: underline dotted;
}

/* Style the popup tooltips */
.tooltip {
  --bs-tooltip-opacity: 1;
}

.tooltip-on-light {
  --bs-tooltip-bg   : var(--ifm-color-primary);
  --bs-tooltip-color: var(--psdi-light-text-color-body);
}

.tooltip-on-dark {
  --bs-tooltip-bg   : var(--ifm-background-color);
  --bs-tooltip-color: var(--psdi-dark-text-color-body);
}