{% extends "parent/layout.htm" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block hero_title %}PSDI Glorius Plot Generator{% endblock %}

{% block inner_content %}
<div id="table-options">
  <p id="input-mode-control" class="hidden">
    <input type="checkbox" name="input-mode-toggle" id="input-mode-toggle">
    <label for="input-mode-toggle"> Directly input deviations</label>
  </p>
  <p id="num-condition-control">
    <label for="num-condition">Test conditions: </label>
    <select name="num-condition" id="num-condition">
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  </p>
  <p id="num-sample-control">
    <label for="num-sample" class="calc-mode-only"> Number of experiments conducted for each test condition: </label>
    <select name="num-sample" id="num-sample" class="calc-mode-only">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </p>
  <p id="num-output-control" class="hidden">
    <label for="num-output"> Reaction outcomes: </label>
    <select name="num-output" id="num-output">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </p>
</div>

<form class="sens-form">

  <table class="output-label-table">
    <tr class="output-label-row">
      <td class="output-button-cell hidden">
        <button type="button" id="remove-ob-0" class="remove-output disabled fix-size-small" disabled="true">-</button>
        <button type="button" id="add-ob-0" class="add-output fix-size-small">+</button>
      </td>
      <td class="output-label-cell">
        <label for="os-0" class="output-label">Outcome:</label>
      </td>
      <td class="output-label-select-cell">
        <select name="output-label-select" class="output-label-select" id="os-0">
          <option value="Isolated Yield (%)" selected>Isolated Yield (%)</option>
          <option value="Spectroscopic Yield (%)">Spectroscopic Yield (%)</option>
          <option value="ee (%)">ee (%)</option>
          <option value="de (%)">de (%)</option>
          <option value="Other">Other</option>
        </select>
      </td>
      <td class="output-label-value-cell hidden">
        <input type="text" id="ol-0" class="output-input trigger-chart-update" placeholder="Outcome (e.g. “Yield”)"
          value="Isolated Yield (%)">
      </td>
    </tr>
  </table>

  <br>

  <table class="sensitivity-table">

    <tr class="sensitivity-buttons calc-mode-only">

      <td class="empty-cell"></td>
      <td class="empty-cell"></td>
      <td class="sample-button-cell">
        <button type="button" id="remove-sb-0" class="remove-sample disabled fix-size-small" disabled="true">-</button>
        <button type="button" id="add-sb-0" class="add-sample fix-size-small">+</button>
      </td>
      <td class="empty-cell button-deviation-cell"></td>

    </tr>

    <tr class="sensitivity-header">

      <th class="empty-heading"></th>

      <th class="condition-label-heading">
        Label
      </th>

      <th class="sample-heading calc-mode-only">Isolated Yield (%)</th>

      <th class="deviation-heading">
        <span class="mouseover calc-mode-only" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-on-light"
          data-bs-placement="top"
          title="Deviation is calculated as (Result - Standard Conditions)/(Standard Conditions) * 100%">
          Deviation (%)</span>
        <span class="mouseover direct-mode-only" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-on-light"
          data-bs-placement="top"
          title="Enter the deviation from the baseline as a percentage, i.e. (Result - Standard Conditions)/(Standard Conditions) * 100%">
          Deviation (%)</span>
      </th>

    </tr>

    <tr class="baseline-row calc-mode-only">
      <td class="empty-cell"></td>
      <td class="baseline-label calc-mode-only">Standard Conditions</td>
      <td class="baseline-value-cell calc-mode-only">
        <div class="baseline-line-container">
          <div class="baseline-input-line">
            <input type="number" step="any" class="baseline-value trigger-chart-update">
          </div>
        </div>
      </td>
      <td class="empty-cell baseline-deviation-cell"></td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-0" class="remove-condition disabled fix-size-small"
          disabled="true">-</button>
        <button type="button" id="add-rb-0" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <input type="text" class="condition-label trigger-chart-update" placeholder="Condition (e.g. “High c”)">
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="deviation-value-cell">
        <div class="deviation-line-container">
          <div class="deviation-input-line">
            <input type="number" step="any" class="calc-mode-disabled deviation-value trigger-chart-update" value="0"
              disabled>
            <span>%</span>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-1" class="remove-condition disabled fix-size-small"
          disabled="true">-</button>
        <button type="button" id="add-rb-1" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <input type="text" class="condition-label trigger-chart-update" placeholder="Condition (e.g. “High c”)">
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="deviation-value-cell">
        <div class="deviation-line-container">
          <div class="deviation-input-line">
            <input type="number" step="any" class="calc-mode-disabled deviation-value trigger-chart-update" value="0"
              disabled>
            <span>%</span>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-2" class="remove-condition disabled fix-size-small"
          disabled="true">-</button>
        <button type="button" id="add-rb-2" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <input type="text" class="condition-label trigger-chart-update" placeholder="Condition (e.g. “High c”)">
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="deviation-value-cell">
        <div class="deviation-line-container">
          <div class="deviation-input-line">
            <input type="number" step="any" class="calc-mode-disabled deviation-value trigger-chart-update" value="0"
              disabled>
            <span>%</span>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-3" class="remove-condition disabled fix-size-small"
          disabled="true">-</button>
        <button type="button" id="add-rb-3" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <input type="text" class="condition-label trigger-chart-update" placeholder="Condition (e.g. “High c”)">
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="deviation-value-cell">
        <div class="deviation-line-container">
          <div class="deviation-input-line">
            <input type="number" step="any" class="calc-mode-disabled deviation-value trigger-chart-update" value="0"
              disabled>
            <span>%</span>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-4" class="remove-condition disabled fix-size-small"
          disabled="true">-</button>
        <button type="button" id="add-rb-4" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <input type="text" class="condition-label trigger-chart-update" placeholder="Condition (e.g. “High c”)">
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="deviation-value-cell">
        <div class="deviation-line-container">
          <div class="deviation-input-line">
            <input type="number" step="any" class="calc-mode-disabled deviation-value trigger-chart-update" value="0"
              disabled>
            <span>%</span>
          </div>
        </div>
      </td>
    </tr>

  </table>

  <button type="button" id="generate-plot">Generate</button>
  <span id="auto-update">
    <input type="checkbox" name="auto-update-toggle" id="auto-update-toggle" checked>
    <label for="auto-update-toggle"> Auto-update</label>
  </span>
  <br>
  <button type="button" id="fill-random">Fill with random data</button>
  <button type="button" id="fill-example">Fill with example data</button>
</form>

<canvas id="glorius-plot" class="white-bg"></canvas>

<div id="plot-options">
  <p>
    <label for="min-output-input">Minimum output: </label>
    <input type="number" step="any" value="-100" name="min-output-input" id="min-output-input"
      class="trigger-chart-update">
    <label for="max-output-input"> Maximum output: </label>
    <input type="number" step="any" value="50" name="max-output-input" id="max-output-input"
      class="trigger-chart-update">
    <label for="band-width-input"> Band width: </label>
    <input type="number" step="any" value="25" name="band-width-input" id="band-width-input"
      class="trigger-chart-update">
  </p>
  <p>
    <input type="checkbox" name="fan-toggle" id="fan-toggle" class="trigger-chart-update">
    <label for="fan-toggle"> Display as fan plot instead of radar</label>
  </p>
  <p class="fan-mode-only">
    <label for="fan-tip-size">Tip size of bars: </label>
    <input type="number" name="fan-tip-size" id="fan-tip-size" class="trigger-chart-update" value="3" min="0" step="1">
    <label for="fan-bar-separation">Base separation of bars: </label>
    <input type="number" name="fan-bar-separation" id="fan-bar-separation" class="trigger-chart-update" value="3"
      min="0" step="1">
  </p>
  <p class="radar-mode-only">
    <input type="checkbox" name="grid-line-toggle" id="grid-line-toggle" class="trigger-chart-update" checked>
    <label for="grid-line-toggle"> Show grid lines</label>
    <input type="checkbox" name="axis-line-toggle" id="axis-line-toggle" class="trigger-chart-update" checked>
    <label for="axis-line-toggle"> Show axis lines</label>
  </p>
  <p>
    <label for="color-select">Colour scheme: </label>
    <select name="color-select" id="color-select">
      <option value="classic" selected>Classic</option>
      <option value="colourblind">Colourblind-friendly</option>
      <option value="greyscale">Greyscale</option>
      <option value="custom">Custom</option>
    </select>
  </p>
  <p class="color-custom hidden">
    <label for="min-color-input">Color at lowest output: </label>
    <input type="color" value="#FF8080" name="min-color-input" id="min-color-input" class="trigger-chart-update">
    <label for="max-color-input"> Color at highest output: </label>
    <input type="color" value="#20A020" name="max-color-input" id="max-color-input" class="trigger-chart-update">
  </p>
  <p>
    <label for="sort-option">Data arrangement: </label>
    <select name="sort-option" id="sort-option" class="trigger-chart-update">
      <option value="1">Ascending</option>
      <option value="-1">Descending</option>
      <option value="0">As entered</option>
    </select>
  </p>
  <p>
    <label for="font-size-input">Label font size: </label>
    <input type="number" name="font-size-input" id="font-size-input" class="trigger-chart-update" min="2" max="64"
      value="18">
  </p>
</div>
{% endblock %}