{% extends "parent/layout.htm" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block hero_title %}PSDI Glorius Plot Generator{% endblock %}

{% block inner_content %}
<div id="plot-options">
  <p>
    <label for="min-output-input">Minimum output: </label>
    <input type="number" value="-100" name="min-output-input" id="min-output-input" class="trigger-update">
    <label for="max-output-input"> Maximum output: </label>
    <input type="number" value="50" name="max-output-input" id="max-output-input" class="trigger-update">
    <label for="band-width-input"> Band width: </label>
    <input type="number" value="25" name="band-width-input" id="band-width-input" class="trigger-update">
  </p>
  <p>
    <input type="checkbox" name="grid-line-toggle" id="grid-line-toggle" class="trigger-update" checked>
    <label for="grid-line-toggle"> Show grid lines</label>
    <input type="checkbox" name="axis-line-toggle" id="axis-line-toggle" class="trigger-update" checked>
    <label for="axis-line-toggle"> Show axis lines</label>
  </p>
  <p>
    <label for="min-color-input">Color at lowest output: </label>
    <input type="color" value="#FF8080" name="min-color-input" id="min-color-input" class="trigger-update">
    <label for="max-color-input"> Color at highest output: </label>
    <input type="color" value="#20A020" name="max-color-input" id="max-color-input" class="trigger-update">
  </p>
  <p>
    <label for="sort-option">Data arrangement: </label>
    <select name="sort-option" id="sort-option" class="trigger-update">
      <option value="1">Ascending</option>
      <option value="-1">Descending</option>
      <option value="0">As entered</option>
    </select>
  </p>
  <p>
    <label for="num-conditions">Test conditions: </label>
    <select name="num-conditions" id="num-conditions">
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <label for="num-outputs"> Output parameters: </label>
    <select name="num-outputs" id="num-outputs">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </p>
</div>
<form class="sens-form">

  <table class="output-label-table">
    <tr class="output-label-row">
      <td class="output-label-label-cell">
        <label for="ol-0" class="output-label-label">Output 1 Label:</label>
      </td>
      <td class="output-label-value-cell">
        <input type="text" id="ol-0" class="output-label-input trigger-update" placeholder="Output (e.g. “Yield”)"
          value="Yield">
      </td>
      <td class="output-label-button-cell">
        <button type="button" id="remove-ob-0" class="remove-output disabled fix-size-small" disabled="true">-</button>
        <button type="button" id="add-ob-0" class="add-output fix-size-small">+</button>
      </td>
    </tr>
  </table>

  <table class="deviation-table">

    <tr class="deviation-header">
      <th class="empty-heading"></th>
      <th class="condition-label-heading">Label</th>
      <th class="deviation-sample-heading">
        <span class="mouseover" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-on-light" data-bs-placement="top"
          title="Enter the deviation from the baseline as a percentage, i.e. (Result - Baseline)/Baseline * 100%">
          Deviation (%)</span>
      </th>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-0" class="remove-condition disabled fix-size-small"
          disabled="true">-</button>
        <button type="button" id="add-rb-0" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <input type="text" class="condition-label trigger-update" placeholder="Condition (e.g. “High c”)">
      </td>
      <td class="deviation-value-cell">
        <div class="deviation-input-line">
          <input type="number" class="deviation-value trigger-update" value="0"> <span>%</span>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-1" class="remove-condition disabled fix-size-small"
          disabled="true">-</button>
        <button type="button" id="add-rb-1" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <input type="text" class="condition-label trigger-update" placeholder="Condition (e.g. “High c”)">
      </td>
      <td class="deviation-value-cell">
        <div class="deviation-input-line">
          <input type="number" class="deviation-value trigger-update" value="0"> <span>%</span>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-2" class="remove-condition disabled fix-size-small"
          disabled="true">-</button>
        <button type="button" id="add-rb-2" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <input type="text" class="condition-label trigger-update" placeholder="Condition (e.g. “High c”)">
      </td>
      <td class="deviation-value-cell">
        <div class="deviation-input-line">
          <input type="number" class="deviation-value trigger-update" value="0"> <span>%</span>
        </div>
      </td>
    </tr>

  </table>

  <button type="button" id="generate-plot">Generate</button>
  <span id="auto-update">
    <input type="checkbox" name="auto-update-toggle" id="auto-update-toggle" checked>
    <label for="auto-update-toggle"> Auto-update</label>
  </span>
  <br>
  <button type="button" id="fill-random">Fill with random data</button>
</form>

<canvas id="glorius-plot"></canvas>
{% endblock %}