{% extends "parent/layout.htm" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block hero_title %}PSDI Glorius Plot Generator{% endblock %}

{% block outer_content %}
<div class="secondary mathjax_ignore">
  <div class="max-width-box">
    <p>
      This web tool enables users to visualise the sensitivity of a given chemical transformation to user-defined
      reaction conditions. The output plots are closely based on an
      <a href="https://onlinelibrary.wiley.com/doi/10.1002/anie.201901935" target="_blank">original concept from the
        Glorius research group</a>.
    </p>
    <p>
      This tool is still a work in progress, and feedback is very welcome, whether feature requests, bug reports, or
      even highlighting a feature you find particularly useful so we know not to remove it when streamlining the tool.
      To provide feedback, click the “Provide Feedback” link on the right side of the header, which will open up a form
      to submit it.
    </p>
    <div class="multicol-container">
      <div class="multicol-cell">
        <details open>
          <summary><strong>Instructions</strong></summary>
          <p>
            Select the reaction outcome of interest (e.g., commonly reaction yield, <em>ee</em> or <em>de</em>) and
            define the number of experimental parameters, or “test conditions”, that you have used in your sensitivity
            analysis.
          </p>
          <p>
            If you have conducted repeat reactions for each test condition, then select the number of experiments that
            were carried out.
          </p>
          <p>
            Input the value of the reaction outcome (yield, <em>ee</em> or <em>de</em>) for your optimised “standard
            conditions”.
          </p>
          <p>
            Add labels to define each test condition that was used in your sensitivity analysis, and add the value of
            the reaction outcome for each test reaction.
          </p>
          <p>
            Select the “value to plot”. Values of the reaction outcome can be plotted directly, or deviation of the
            outcome from the standard conditions may be used.
          </p>
          <p>
            Tools for customisation of the plot are available beneath the plotting window.
          </p>
        </details>
      </div>
      <div class="multicol-cell">
        <details>
          <summary><strong>Help with formatting and special symbols</strong> - what to do if text appears as a black bar
            on the chart
          </summary>
          <p>
            <strong>Basic formatting:</strong> You can format text entered in the Title and various other fields by
            clicking on the formatting buttons in the toolbar that appears above the text-input boxes when they're
            selected, either by clicking the box then entering text, or by selecting text and then clicking the buttons.
            If the text is longer than the box can fit in one line, a scrollbar will appear at the right side of the box
            allowing you to scroll up and down lines of text.
          </p>
          <p>This formatting is done through a LaTeX equation rendering engine, which results in some unavoidable quirks
            such as it always putting spaces around mathematical operators. If the renderer fails to parse the text, it
            will appear as a black bar on the chart. The most common cause of this is less-than and greater-than
            symbols, which get interpreted as HTML tags. This can by worked around by replacing them with “\gt” and
            “\lt” respectively.
          </p>
          <p>
            <strong>Special symbols:</strong> A toolbar option to insert special symbols is still under development. For
            the time being, you can copy and paste desired symbols from the following lists:
          </p>
          <ul>
            <li>Mathematical and numerical symbols: ° Å → ⟹ + - × ÷ ± ∓ = ≠ &lt; &gt; ≤ ≥ ≲ ≳ ≪ ≫</li>
            <li>Lowercase Greek: α β γ δ ε ζ η θ ι κ λ μ ν ξ ο π ρ ς σ τ υ φ χ ψ ω</li>
            <li>Uppercase Greek: Α Β Γ Δ Ε Ζ Η Θ Ι Κ Λ Μ Ν Ξ Ο Π Ρ Σ Τ Υ Φ Χ Ψ Ω</li>
          </ul>
          <p>If you need a symbol not listed here, you can search for it at <a
              href="https://unicodeplus.com/">UnicodePlus</a> and copy it from there.
          </p>
          <p>
            <strong>Advanced formatting:</strong> If you're familiar with LaTeX markup, you can use it to directly set
            the text that will appear on the chart, or you can use <a href="https://latexeditor.lagrida.com/">a LaTeX
              equation editor</a> to help. Malformed LaTeX markup will appear as red on the chart, or may result in the
            renderer failing entirely, resulting in the text appearing as a black bar on the chart.
          </p>
        </details>
      </div>
    </div>
  </div>
</div>

{{ super() }}

{% endblock %}

{% block inner_content %}

<form class="sens-form">

  <table class="title-table label-table">
    <tr class="title-row">
      <td class="title-label-cell">
        <label for="title-input" id="title-label">Title:</label>
      </td>
      <td class="title-input-cell">
        <div class="title-input-container">
          <div id="title-input"></div>
        </div>
      </td>
    </tr>

  </table>

  <table class="output-label-table label-table">
    <tr class="output-label-row">
      <td class="output-label-cell">
        <label for="os-0" class="output-label">Outcome:</label>
      </td>
      <td class="output-label-select-cell">
        <select name="output-label-select" class="output-label-select" id="os-0">
          <option value="Isolated Yield (%)" selected>Isolated Yield (%)</option>
          <option value="Spectroscopic Yield (%)">Spectroscopic Yield (%)</option>
          <option value="Chromatographic Yield (%)">Chromatographic Yield (%)</option>
          <option value="&lt;em&gt;ee&lt;/em&gt; (%)">ee (%)</option>
          <option value="&lt;em&gt;de&lt;/em&gt; (%)">de (%)</option>
          <option value="Other">Other</option>
        </select>
      </td>
      <td class="output-label-value-cell hidden">
        <div class="output-input-container">
          <div id="ol-0">Isolated Yield (%)</div>
        </div>
      </td>
    </tr>
  </table>
  <table id="table-options label-table">
    <tr>
      <td>
        <label for="num-condition">Test conditions: </label>
      </td>
      <td>
        <select name="num-condition" id="num-condition">
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </td>
      <td id="num-sample-cell">
        <label for="num-sample" class="calc-mode-only">Number of experiments conducted for each test condition:</label>
      </td>
      <td>
        <select name="num-sample" id="num-sample" class="calc-mode-only">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </td>
    </tr>
  </table>

  <table class="sensitivity-table">

    <tr class="sensitivity-buttons calc-mode-only">

      <td class="empty-cell"></td>
      <td class="empty-cell"></td>
      <td class="sample-button-cell">
        <div class="sample-button-container">
          <button type="button" id="remove-sb-0" class="remove-sample disabled fix-size-small"
            disabled="true">-</button>
          <button type="button" id="add-sb-0" class="add-sample fix-size-small">+</button>
        </div>
      </td>
      <td class="empty-cell button-mean-cell hidden"></td>
      <td class="empty-cell button-abs-deviation-cell"></td>
      <td class="empty-cell button-rel-deviation-cell"></td>

    </tr>

    <tr class="sensitivity-header">

      <th class="empty-heading"></th>

      <th class="condition-label-heading">
        Label
      </th>

      <th class="sample-heading calc-mode-only">Isolated Yield (%)</th>

      <th class="mean-heading hidden">Mean Isolated Yield (%)</th>

      <th class="abs-deviation-heading">Deviation (+/-)</th>

      <th class="rel-deviation-heading col-selected-top">Deviation (%)</th>

    </tr>

    <tr class="baseline-row calc-mode-only">
      <td class="empty-cell"></td>
      <td class="baseline-label calc-mode-only">Standard Conditions</td>
      <td class="baseline-value-cell calc-mode-only">
        <div class="baseline-line-container">
          <div class="baseline-input-line">
            <input type="number" min="0" max="100" step="any" class="baseline-value trigger-chart-update">
          </div>
        </div>
      </td>
      <td class="baseline-mean-cell hidden">
        <input type="number" step="any" class="calc-mode-disabled mean-value trigger-chart-update" value="100" disabled>
      </td>
      <td class="empty-cell baseline-abs-deviation-cell"></td>
      <td class="empty-cell baseline-rel-deviation-cell col-selected"></td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <!-- TODO: Buttons like these should have their IDs changed to "remove/add-cb-N" (not rb) when it's safe to do
         so without risking breaking production -->
        <button type="button" id="remove-rb-0" class="remove-condition disabled fix-size-small">-</button>
        <button type="button" id="add-rb-0" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <div class="condition-label-container">
          <div class="condition-input" id="cl-0"></div>
        </div>
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="mean-value-cell hidden">
        <div class="mean-line-container">
          <div class="mean-input-line">
            <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="abs-deviation-value-cell">
        <div class="abs-deviation-line-container">
          <div class="abs-deviation-input-line">
            <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="rel-deviation-value-cell col-selected">
        <div class="rel-deviation-line-container">
          <div class="rel-deviation-input-line">
            <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-1" class="remove-condition disabled fix-size-small">-</button>
        <button type="button" id="add-rb-1" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <div class="condition-label-container">
          <div class="condition-input" id="cl-1"></div>
        </div>
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="mean-value-cell hidden">
        <div class="mean-line-container">
          <div class="mean-input-line">
            <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="abs-deviation-value-cell">
        <div class="abs-deviation-line-container">
          <div class="abs-deviation-input-line">
            <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="rel-deviation-value-cell col-selected">
        <div class="rel-deviation-line-container">
          <div class="rel-deviation-input-line">
            <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-2" class="remove-condition disabled fix-size-small">-</button>
        <button type="button" id="add-rb-2" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <div class="condition-label-container">
          <div class="condition-input" id="cl-2"></div>
        </div>
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="mean-value-cell hidden">
        <div class="mean-line-container">
          <div class="mean-input-line">
            <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="abs-deviation-value-cell">
        <div class="abs-deviation-line-container">
          <div class="abs-deviation-input-line">
            <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="rel-deviation-value-cell col-selected">
        <div class="rel-deviation-line-container">
          <div class="rel-deviation-input-line">
            <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-3" class="remove-condition disabled fix-size-small">-</button>
        <button type="button" id="add-rb-3" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <div class="condition-label-container">
          <div class="condition-input" id="cl-3"></div>
        </div>
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="mean-value-cell hidden">
        <div class="mean-line-container">
          <div class="mean-input-line">
            <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="abs-deviation-value-cell">
        <div class="abs-deviation-line-container">
          <div class="abs-deviation-input-line">
            <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="rel-deviation-value-cell col-selected">
        <div class="rel-deviation-line-container">
          <div class="rel-deviation-input-line">
            <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell">
        <button type="button" id="remove-rb-4" class="remove-condition disabled fix-size-small">-</button>
        <button type="button" id="add-rb-4" class="add-condition fix-size-small">+</button>
      </td>
      <td class="condition-label-cell">
        <div class="condition-label-container">
          <div class="condition-input" id="cl-4"></div>
        </div>
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="mean-value-cell hidden">
        <div class="mean-line-container">
          <div class="mean-input-line">
            <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="abs-deviation-value-cell">
        <div class="abs-deviation-line-container">
          <div class="abs-deviation-input-line">
            <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="rel-deviation-value-cell col-selected">
        <div class="rel-deviation-line-container">
          <div class="rel-deviation-input-line">
            <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
    </tr>

    <tr id="plot-select-row">
      <td class="empty-button-cell"></td>
      <td class="plot-select-label"><strong>Value to plot:</strong></td>
      <td class="empty-cell mean-shown-only hidden"></td>
      <td class="plot-select-cell plot-select-mean-cell">
        <label class="plot-select-container" for="plot-mean">
          <input type="radio" name="plot-select" class="plot-select trigger-chart-update" id="plot-mean" value="mean"
            label="Plot the (mean) sample values">
        </label>
      </td>
      <td class="plot-select-cell plot-select-abs-cell">
        <label class="plot-select-container" for="plot-abs">
          <input type="radio" name="plot-select" class="plot-select trigger-chart-update" id="plot-abs" value="absolute"
            label="Plot the deviation from the standard conditions (+/-)">
        </label>
      </td>
      <td class="plot-select-cell plot-select-rel-cell col-selected-bottom">
        <label class="plot-select-container" for="plot-rel">
          <input type="radio" name="plot-select" class="plot-select trigger-chart-update" id="plot-rel" value="relative"
            checked label="Plot the deviation from the standard conditions (%)">
        </label>
      </td>
    </tr>

  </table>

  <button type="button" id="generate-plot">Generate</button>
  <span id="auto-update" class="mouseover-tooltip" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-on-light"
    data-bs-placement="top" title="This may result in some artifacts on the
      plot when labels are changed. If this happens, click the “Generate” button to re-render the plot">
    <input type="checkbox" name="auto-update-toggle" id="auto-update-toggle" checked>
    <label for="auto-update-toggle">Auto-update</label>
  </span>
  <br>
  <button type="button" id="fill-random">Fill with random data</button>
  <button type="button" id="fill-example" class="mouseover-tooltip" data-bs-toggle="tooltip"
    data-bs-custom-class="tooltip-on-light" data-bs-placement="top" title="This fills the table with an example 
    dataset sourced from Table S9 of Zhang 𝘦𝘵 𝘢𝘭. (2024), “Solvent-Dependent Divergent Cyclization of
    Bicyclo[1.1.0]butanes”, https://doi.org/10.1002/anie.202418239">Fill with example data</button>
</form>

<canvas id="glorius-plot" class="white-bg"></canvas>

<div id="export-buttons">
  <button type="button" id="export-image-png">Download Plot as PNG</button>
</div>

<br>

<div id="plot-options">
  <table id="plot-size-options" class="label-table">
    <tr>
      <td>
        <label for="width-input" class="align-right">Plot width in pixels: </label>
      </td>
      <td>
        <input type="number" step="50" value="600" min="200" max="4000" name="width-input" id="width-input"
          class="trigger-chart-update">
      </td>
      <td>
        <label for="label-font-size-input" class="align-right">Condition label font size: </label>
      </td>
      <td>
        <input type="number" name="label-font-size-input" id="label-font-size-input" class="trigger-chart-update"
          min="2" max="64" value="18">
      </td>
    </tr>
    <tr>
      <td>
        <label for="height-input" class="align-right">Plot height in pixels: </label>
      </td>
      <td>
        <input type="number" step="50" value="600" min="200" max="4000" name="height-input" id="height-input"
          class="trigger-chart-update">
      </td>
      <td>
        <label for="axis-font-size-input" class="align-right">Axis label font size: </label>
      </td>
      <td>
        <input type="number" name="axis-font-size-input" id="axis-font-size-input" class="trigger-chart-update" min="2"
          max="64" value="16">
      </td>
    </tr>
    <tr>
      <td>
        <label for="lock-aspect-ratio" class="align-right">Lock aspect ratio:</label>
      </td>
      <td>
        <input type="checkbox" name="lock-aspect-ratio" id="lock-aspect-ratio" checked>
      </td>
      <td>
        <label for="scale-font-size" class="align-right">Scale font size with plot size:</label>
      </td>
      <td>
        <input type="checkbox" name="scale-font-size" id="scale-font-size">
      </td>
    </tr>
  </table>
  <button type="button" id="reset-plot-dims" class="trigger-chart-update">Reset Size and Shape</button>

  <br>
  <br>

  <p>
    <label for="min-output-input" class="non-none-dev-mode-only">Minimum output: </label>
    <input type="number" step="any" value="-100" name="min-output-input" id="min-output-input"
      class="trigger-chart-update non-none-dev-mode-only">
    <label for="max-output-input" class="non-none-dev-mode-only"> Maximum output: </label>
    <input type="number" step="any" value="50" name="max-output-input" id="max-output-input"
      class="trigger-chart-update non-none-dev-mode-only">
    <label for="band-width-input"> Band width: </label>
    <input type="number" step="any" value="25" name="band-width-input" id="band-width-input"
      class="trigger-chart-update">
  </p>
  <p>
    <input type="checkbox" name="fan-toggle" id="fan-toggle" class="trigger-chart-update">
    <label for="fan-toggle"> Display as fan plot instead of radar</label>
  </p>
  <p class="fan-mode-only hidden">
    <label for="fan-tip-size">Tip size of bars: </label>
    <input type="number" name="fan-tip-size" id="fan-tip-size" class="trigger-chart-update" value="3" min="0" step="1">
    <label for="fan-bar-separation">Base separation of bars: </label>
    <input type="number" name="fan-bar-separation" id="fan-bar-separation" class="trigger-chart-update" value="3"
      min="0" step="1">
  </p>
  <p class="radar-mode-only">
    <input type="checkbox" name="grid-line-toggle" id="grid-line-toggle" class="trigger-chart-update" checked>
    <label for="grid-line-toggle"> Show grid lines</label>
    <input type="checkbox" name="axis-line-toggle" id="axis-line-toggle" class="trigger-chart-update" checked>
    <label for="axis-line-toggle"> Show axis lines</label>
  </p>
  <p>
    <label for="color-select">Colour scheme: </label>
    <select name="color-select" id="color-select">
      <option value="classic" selected>Classic</option>
      <option value="colourblind">Colourblind-friendly</option>
      <option value="greyscale">Greyscale</option>
      <option value="custom">Custom</option>
    </select>
  </p>
  <p class="color-custom hidden">
    <label for="min-color-input">Color at lowest output: </label>
    <input type="color" value="#FF8080" name="min-color-input" id="min-color-input" class="trigger-chart-update">
    <label for="max-color-input"> Color at highest output: </label>
    <input type="color" value="#20A020" name="max-color-input" id="max-color-input" class="trigger-chart-update">
  </p>
  <p>
    <label for="sort-option">Data arrangement: </label>
    <select name="sort-option" id="sort-option" class="trigger-chart-update">
      <option value="1">Ascending</option>
      <option value="-1">Descending</option>
      <option value="0">As entered</option>
    </select>
  </p>
</div>
{% endblock %}