{% extends "parent/layout.htm" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block hero_title %}PSDI Glorius Plot Generator{% endblock %}

{% block content_before_main %}
<div class="secondary mathjax_ignore" id="instructions">
  <div class="max-width-box">
    <p>
      This service enables users to visualise the sensitivity of a given chemical transformation to user-defined
      reaction conditions. The output plots are closely based on an
      <a href="https://onlinelibrary.wiley.com/doi/10.1002/anie.201901935" target="_blank">original concept from the
        Glorius research group</a>.
    </p>
    <p>
      This service is still a work in progress, and feedback is very welcome, whether feature requests, bug reports, or
      even highlighting a feature you find particularly useful so we know not to remove it when streamlining the
      service. To provide feedback, click the “Provide Feedback” link on the right side of the header, which will open
      up a form to submit it.
    </p>
    <div class="multicol-container">
      <div class="multicol-cell">
        <details open>
          <summary><strong>Instructions</strong></summary>
          <p>
            Select the reaction outcome of interest (e.g., commonly reaction yield, <em>ee</em> or <em>de</em>) and
            define the number of experimental parameters, or “test conditions”, that you have used in your sensitivity
            analysis. If you have conducted repeat reactions for each test condition, then select the number of
            experiments that
            were carried out.
          </p>
          <p>
            Fill in the reaction outcome table. This can be navigated by keyboard with tab to move horizontally, enter
            to move vertically (holding shift to move in reverse), and escape to select the add/remove row buttons.
          </p>
          <ul>
            <li>Input the value of the reaction outcome (yield, <em>ee</em> or <em>de</em>) for your optimised “standard
              conditions”.</li>
            <li>Add labels to define each test condition that was used in your sensitivity analysis, and add the value
              of the reaction outcome for each test reaction.</li>
            <li>Select the “value to plot”. Values of the reaction outcome can be plotted directly, or deviation of the
              outcome from the standard conditions may be used.</li>
          </ul>
          <p>
            Tools for customisation of the plot are available beneath the plotting window. These can be use to change
            the plot style to "fan" mode (a circular bar chart, which is recommended for better readability), resize the
            plot and labels, adjust the colour scheme, and adjust how the data is ordered on the plot.
          </p>
        </details>
      </div>
      <div class="multicol-cell">
        <details>
          <summary><strong>Help with formatting and special symbols</strong> - what to do if text appears as a black bar
            on the chart
          </summary>
          <p>
            <strong>Basic formatting:</strong> You can format text entered in the Title and various other fields by
            clicking on the formatting buttons in the toolbar that appears above the text-input boxes when they're
            selected, either by clicking the box then entering text, or by selecting text and then clicking the buttons.
            If the text is longer than the box can fit in one line, a scrollbar will appear at the right side of the box
            allowing you to scroll up and down lines of text.
          </p>
          <p>This formatting is done through a LaTeX equation rendering engine, which results in some unavoidable quirks
            such as it always putting spaces around mathematical operators. If the renderer fails to parse the text, it
            will appear as a black bar on the chart. The most common cause of this is less-than and greater-than
            symbols, which get interpreted as HTML tags. This can by worked around by replacing them with “\gt” and
            “\lt” respectively.
          </p>
          <p>
            <strong>Special symbols:</strong> A toolbar option to insert special symbols is still under development. For
            the time being, you can copy and paste desired symbols from the following lists:
          </p>
          <ul>
            <li>Mathematical and numerical symbols: ° Å → ⟹ + - × ÷ ± ∓ = ≠ &lt; &gt; ≤ ≥ ≲ ≳ ≪ ≫</li>
            <li>Lowercase Greek: α β γ δ ε ζ η θ ι κ λ μ ν ξ ο π ρ ς σ τ υ φ χ ψ ω</li>
            <li>Uppercase Greek: Α Β Γ Δ Ε Ζ Η Θ Ι Κ Λ Μ Ν Ξ Ο Π Ρ Σ Τ Υ Φ Χ Ψ Ω</li>
          </ul>
          <p>If you need a symbol not listed here, you can search for it at <a
              href="https://unicodeplus.com/">UnicodePlus</a> and copy it from there.
          </p>
          <p>
            <strong>Advanced formatting:</strong> If you're familiar with LaTeX markup, you can use it to directly set
            the text that will appear on the chart, or you can use <a href="https://latexeditor.lagrida.com/">a LaTeX
              equation editor</a> to help. Malformed LaTeX markup will appear as red on the chart, or may result in the
            renderer failing entirely, resulting in the text appearing as a black bar on the chart.
          </p>
        </details>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block inner_content %}

<form id="data-input">

  <h4>Data Input</h4>

  <table class="title-table label-table">
    <tr class="title-row">
      <td class="label-cell">
        <label for="title-input" id="title-label">Title:</label>
      </td>
      <td class="title-input-cell">
        <div class="title-input-container">
          <div id="title-input"></div>
        </div>
      </td>
    </tr>
  </table>

  <table class="output-label-table label-table">
    <tr class="output-label-row">
      <td class="label-cell">
        <label for="os-0" class="output-label">Outcome:</label>
      </td>
      <td class="output-label-select-cell">
        <select name="output-label-select" class="output-label-select" id="os-0">
          <option value="Isolated Yield (%)" selected>Isolated Yield (%)</option>
          <option value="Spectroscopic Yield (%)">Spectroscopic Yield (%)</option>
          <option value="Chromatographic Yield (%)">Chromatographic Yield (%)</option>
          <option value="&lt;em&gt;ee&lt;/em&gt; (%)">ee (%)</option>
          <option value="&lt;em&gt;de&lt;/em&gt; (%)">de (%)</option>
          <option value="Other">Other</option>
        </select>
      </td>
      <td class="output-label-value-cell hidden">
        <div class="output-input-container">
          <div id="ol-0">Isolated Yield (%)</div>
        </div>
      </td>
    </tr>
  </table>
  <table id="table-options label-table">
    <tr>
      <td>
        <label for="num-condition">Test conditions: </label>
      </td>
      <td>
        <select name="num-condition" id="num-condition">
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </td>
      <td id="num-sample-cell">
        <label for="num-sample" class="calc-mode-only">Number of experiments conducted for each test condition:</label>
      </td>
      <td>
        <select name="num-sample" id="num-sample" class="calc-mode-only">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </td>
    </tr>
  </table>

  <table class="sensitivity-table">

    <tr class="sensitivity-buttons calc-mode-only">

      <td class="empty-cell"></td>
      <td class="empty-cell"></td>
      <td class="sample-button-cell">
        <div class="sample-button-container">
          <button type="button" id="remove-sb-0" class="remove-sample disabled fix-size-small" disabled="true"
            title="Remove this column">-</button>
          <button type="button" id="add-sb-0" class="add-sample fix-size-small" title="Add a column">+</button>
        </div>
      </td>
      <td class="empty-cell button-mean-cell hidden"></td>
      <td class="empty-cell button-abs-deviation-cell"></td>
      <td class="empty-cell button-rel-deviation-cell"></td>

    </tr>

    <tr class="sensitivity-header">

      <th class="empty-heading"></th>

      <th class="condition-label-heading">
        Label
      </th>

      <th class="sample-heading calc-mode-only">Isolated Yield (%)</th>

      <th class="mean-heading hidden">Mean Isolated Yield (%)</th>

      <th class="abs-deviation-heading">Deviation (+/-)</th>

      <th class="rel-deviation-heading col-selected-top">Deviation (%)</th>

    </tr>

    <tr class="baseline-row calc-mode-only">
      <td class="empty-cell"></td>
      <td class="baseline-label calc-mode-only">Standard Conditions</td>
      <td class="baseline-value-cell calc-mode-only">
        <div class="baseline-line-container">
          <div class="baseline-input-line">
            <input type="number" min="0" max="100" step="any" class="baseline-value trigger-chart-update">
          </div>
        </div>
      </td>
      <td class="baseline-mean-cell hidden">
        <input type="number" step="any" class="calc-mode-disabled mean-value trigger-chart-update" value="100" disabled>
      </td>
      <td class="empty-cell baseline-abs-deviation-cell"></td>
      <td class="empty-cell baseline-rel-deviation-cell col-selected"></td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell row-button-cell">
        <div class="row-button-container">
          <button type="button" id="remove-cb-0" class="remove-condition disabled fix-size-small"
            title="Remove this row">-</button>
          <button type="button" id="add-cb-0" class="add-condition fix-size-small" title="Add a row">+</button>
        </div>
      </td>
      <td class="condition-label-cell">
        <div class="condition-label-container">
          <div class="condition-input" id="cl-0"></div>
        </div>
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="mean-value-cell hidden">
        <div class="mean-line-container">
          <div class="mean-input-line">
            <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="abs-deviation-value-cell">
        <div class="abs-deviation-line-container">
          <div class="abs-deviation-input-line">
            <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="rel-deviation-value-cell col-selected">
        <div class="rel-deviation-line-container">
          <div class="rel-deviation-input-line">
            <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell row-button-cell">
        <div class="row-button-container">
          <button type="button" id="remove-cb-1" class="remove-condition disabled fix-size-small"
            title="Remove this row">-</button>
          <button type="button" id="add-cb-1" class="add-condition fix-size-small" title="Add a row">+</button>
        </div>
      </td>
      <td class="condition-label-cell">
        <div class="condition-label-container">
          <div class="condition-input" id="cl-1"></div>
        </div>
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="mean-value-cell hidden">
        <div class="mean-line-container">
          <div class="mean-input-line">
            <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="abs-deviation-value-cell">
        <div class="abs-deviation-line-container">
          <div class="abs-deviation-input-line">
            <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="rel-deviation-value-cell col-selected">
        <div class="rel-deviation-line-container">
          <div class="rel-deviation-input-line">
            <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell row-button-cell">
        <div class="row-button-container">
          <button type="button" id="remove-cb-2" class="remove-condition disabled fix-size-small"
            title="Remove this row">-</button>
          <button type="button" id="add-cb-2" class="add-condition fix-size-small" title="Add a row">+</button>
        </div>
      </td>
      <td class="condition-label-cell">
        <div class="condition-label-container">
          <div class="condition-input" id="cl-2"></div>
        </div>
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="mean-value-cell hidden">
        <div class="mean-line-container">
          <div class="mean-input-line">
            <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="abs-deviation-value-cell">
        <div class="abs-deviation-line-container">
          <div class="abs-deviation-input-line">
            <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="rel-deviation-value-cell col-selected">
        <div class="rel-deviation-line-container">
          <div class="rel-deviation-input-line">
            <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell row-button-cell">
        <div class="row-button-container">
          <button type="button" id="remove-cb-3" class="remove-condition disabled fix-size-small"
            title="Remove this row">-</button>
          <button type="button" id="add-cb-3" class="add-condition fix-size-small" title="Add a row">+</button>
        </div>
      </td>
      <td class="condition-label-cell">
        <div class="condition-label-container">
          <div class="condition-input" id="cl-3"></div>
        </div>
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="mean-value-cell hidden">
        <div class="mean-line-container">
          <div class="mean-input-line">
            <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="abs-deviation-value-cell">
        <div class="abs-deviation-line-container">
          <div class="abs-deviation-input-line">
            <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="rel-deviation-value-cell col-selected">
        <div class="rel-deviation-line-container">
          <div class="rel-deviation-input-line">
            <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
    </tr>

    <tr class="condition-row">
      <td class="condition-button-cell row-button-cell">
        <div class="row-button-container">
          <button type="button" id="remove-cb-4" class="remove-condition disabled fix-size-small"
            title="Remove this row">-</button>
          <button type="button" id="add-cb-4" class="add-condition fix-size-small" title="Add a row">+</button>
        </div>
      </td>
      <td class="condition-label-cell">
        <div class="condition-label-container">
          <div class="condition-input" id="cl-4"></div>
        </div>
      </td>
      <td class="sample-value-cell calc-mode-only">
        <div class="sample-line-container">
          <div class="sample-input-line">
            <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
          </div>
        </div>
      </td>
      <td class="mean-value-cell hidden">
        <div class="mean-line-container">
          <div class="mean-input-line">
            <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="abs-deviation-value-cell">
        <div class="abs-deviation-line-container">
          <div class="abs-deviation-input-line">
            <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
      <td class="rel-deviation-value-cell col-selected">
        <div class="rel-deviation-line-container">
          <div class="rel-deviation-input-line">
            <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
          </div>
        </div>
      </td>
    </tr>

    <tr id="plot-select-row">
      <td class="empty-button-cell"></td>
      <td class="plot-select-label"><strong>Value to plot:</strong></td>
      <td class="empty-cell mean-shown-only hidden"></td>
      <td class="plot-select-cell plot-select-mean-cell">
        <label class="plot-select-container" for="plot-mean">
          <input type="radio" name="plot-select" class="plot-select trigger-chart-update" id="plot-mean" value="mean"
            label="Plot the (mean) sample values">
        </label>
      </td>
      <td class="plot-select-cell plot-select-abs-cell">
        <label class="plot-select-container" for="plot-abs">
          <input type="radio" name="plot-select" class="plot-select trigger-chart-update" id="plot-abs" value="absolute"
            label="Plot the deviation from the standard conditions (+/-)">
        </label>
      </td>
      <td class="plot-select-cell plot-select-rel-cell col-selected-bottom">
        <label class="plot-select-container" for="plot-rel">
          <input type="radio" name="plot-select" class="plot-select trigger-chart-update" id="plot-rel" value="relative"
            checked label="Plot the deviation from the standard conditions (%)">
        </label>
      </td>
    </tr>

  </table>

  <button type="button" id="fill-random" title="Fill the table with random data">Fill with random data</button>
  <button type="button" id="fill-example" class="mouseover-tooltip" data-bs-toggle="tooltip"
    data-bs-custom-class="tooltip-on-light" data-bs-placement="top" title="This fills the table with an example 
    dataset sourced from Table S9 of Zhang 𝘦𝘵 𝘢𝘭. (2024), “Solvent-Dependent Divergent Cyclization of
    Bicyclo[1.1.0]butanes”, https://doi.org/10.1002/anie.202418239">Fill with example data</button>
</form>

<div id="plot-display">
  <button type="button" id="generate-plot" title="Regenerate the plot">Regenerate Plot</button>
  <span id="auto-update" class="mouseover-tooltip" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-on-light"
    data-bs-placement="top" title="If the regeneration of the plot is causing slowdown, disable this and click the
    “Regenerate Plot” button to the left as needed to manually generate it">
    <input type="checkbox" name="auto-update-toggle" id="auto-update-toggle" checked>
    <label for="auto-update-toggle">Auto-update</label>
  </span>

  <canvas id="glorius-plot" class="white-bg"></canvas>

  <table id="export-image-buttons">
    <tr>
      <td>
        <button type="button" id="export-image-png" title="Export the plot as a .png image">Download Plot as
          PNG</button>
      </td>
      <td>
        <button type="button" id="export-rocrate-start" title="Open the form to export the plot and data as an
        RO-crate">Export RO-crate</button>
      </td>
    </tr>
  </table>
  <table id="save-load-data-buttons">
    <tr>
      <td><button type="button" id="save-data" title="Save the input data and plot configuration in a .json file which
        can be loaded later to resume or share work">Save Data</button></td>
      <td><button type="button" id="load-data" class="init-disabled" title="Load data from a previously-saved .json file
        - select this file in the file selector to the right" disabled>Load Data</button></td>
      <td><input type="file" name="load-data-file" id="load-data-file" accept=".json"></td>
    </tr>
  </table>
</div>

<br>

<form id="plot-config">
  <h4>Plot Configuration</h4>

  <p>
    <label for="fan-select">Plot style: </label>
    <select id="fan-select" class="trigger-chart-update">
      <option value="radar">Radar</option>
      <option value="fan">Fan</option>
    </select>
  </p>

  <table id="plot-size-options" class="label-table">
    <tr>
      <td>
        <label for="width-input" class="align-right">Plot width in pixels: </label>
      </td>
      <td>
        <input type="number" step="50" value="600" min="200" max="4000" name="width-input" id="width-input"
          class="trigger-chart-update">
      </td>
      <td>
        <label for="label-font-size-input" class="align-right">Condition label font size: </label>
      </td>
      <td>
        <input type="number" name="label-font-size-input" id="label-font-size-input" class="trigger-chart-update"
          min="2" max="64" value="18">
      </td>
    </tr>
    <tr>
      <td>
        <label for="height-input" class="align-right">Plot height in pixels: </label>
      </td>
      <td>
        <input type="number" step="50" value="600" min="200" max="4000" name="height-input" id="height-input"
          class="trigger-chart-update">
      </td>
      <td>
        <label for="axis-font-size-input" class="align-right">Axis label font size: </label>
      </td>
      <td>
        <input type="number" name="axis-font-size-input" id="axis-font-size-input" class="trigger-chart-update" min="2"
          max="64" value="16">
      </td>
    </tr>
    <tr>
      <td>
        <label for="lock-aspect-ratio" class="align-right">Lock aspect ratio:</label>
      </td>
      <td>
        <input type="checkbox" name="lock-aspect-ratio" id="lock-aspect-ratio" checked>
      </td>
      <td>
        <label for="scale-font-size" class="align-right">Scale font size with plot size:</label>
      </td>
      <td>
        <input type="checkbox" name="scale-font-size" id="scale-font-size">
      </td>
    </tr>
  </table>
  <button type="button" id="reset-plot-dims" class="trigger-chart-update" title="Reset the plot height, plot width,
  condition label font size, and axis label font size to their default values">Reset Size and Shape</button>

  <br>
  <br>

  <p>
    <label for="min-output-input" class="non-none-dev-mode-only">Minimum output: </label>
    <input type="number" step="any" value="-100" name="min-output-input" id="min-output-input"
      class="trigger-chart-update non-none-dev-mode-only">
    <label for="max-output-input" class="non-none-dev-mode-only"> Maximum output: </label>
    <input type="number" step="any" value="50" name="max-output-input" id="max-output-input"
      class="trigger-chart-update non-none-dev-mode-only">
    <label for="band-width-input"> Band width: </label>
    <input type="number" step="5" value="25" min="5" max="50" name="band-width-input" id="band-width-input"
      class="trigger-chart-update">
  </p>
  <p>
    <label for="color-select">Colour scheme: </label>
    <select name="color-select" id="color-select">
      <option value="colourblind" selected>Colourblind-friendly</option>
      <option value="classic">Classic</option>
      <option value="greyscale">Greyscale</option>
      <option value="custom">Custom</option>
    </select>
    <span class="color-custom hidden">
      <label for="min-color-input"> Color at lowest output: </label>
      <input type="color" value="#F05200" name="min-color-input" id="min-color-input" class="trigger-chart-update">
      <label for="max-color-input"> Color at highest output: </label>
      <input type="color" value="#0093F5" name="max-color-input" id="max-color-input" class="trigger-chart-update">
    </span>
  </p>
  <p>
    <label for="sort-option">Data arrangement: </label>
    <select name="sort-option" id="sort-option" class="trigger-chart-update">
      <option value="1">Ascending</option>
      <option value="-1">Descending</option>
      <option value="0">As entered</option>
    </select>
  </p>
</form>
{% endblock %}

{% block content_after_main %}
<!-- TODO: When done working on this section, add the "hidden" class to the .secondary div -->
<div class="secondary mathjax_ignore" id="rocrate-export">
  <div class="max-width-box">
    <form id="rocrate-input">
      <h4>Export a FAIR data package</h4>
      <p>You can export a FAIR data package to accompany your Glorius plot by providing some additional information
        here. If you choose not to add any additional information, a simple version of the data package will
        instead be exported. The more information you can provide, the more useful the data package will be for others.
      </p>

      <div class="announcement-panel">
        <p>
          <strong>Alert:</strong> This functionality is currently under construction.
        </p>
      </div>

      <br>
      <h5>About your experiment</h5>

      <strong>Standard Conditions</strong>
      <p>Add text in the box below to describe the standard conditions for the chemical transformation in your
        experiment.</p>
      <textarea id="rocract-baseline-desc" name="rocract-baseline-desc" rows="5"
        placeholder="Describe the standard conditions of the expriment here"></textarea>

      <br><br>
      <h5>Test Conditions</h5>
      <p>Add a description which clearly describes how each 'Test condition' differs from the Standard Conditions
        of your chemical transformation.</p>
      <table id="rocrate-cond-desc-table">
        <tr class="rocrate-cond-row">
          <td class="rocrate-cond-label">
            <div class="rocrate-cond-desc-label" id="rcdl-0"></div>
          </td>
          <td class="rocrate-cond-desc">
            <div class="rocrate-cond-desc-container">
              <div class="rocrate-cond-desc-input" id="rcdi-0"></div>
            </div>
          </td>
        </tr>
        <tr class="rocrate-cond-row">
          <td class="rocrate-cond-label">
            <div class="rocrate-cond-desc-label" id="rcdl-1"></div>
          </td>
          <td class="rocrate-cond-desc">
            <div class="rocrate-cond-desc-container">
              <div class="rocrate-cond-desc-input" id="rcdi-1"></div>
            </div>
          </td>
        </tr>
        <tr class="rocrate-cond-row">
          <td class="rocrate-cond-label">
            <div class="rocrate-cond-desc-label" id="rcdl-2"></div>
          </td>
          <td class="rocrate-cond-desc">
            <div class="rocrate-cond-desc-container">
              <div class="rocrate-cond-desc-input" id="rcdi-2"></div>
            </div>
          </td>
        </tr>
        <tr class="rocrate-cond-row">
          <td class="rocrate-cond-label">
            <div class="rocrate-cond-desc-label" id="rcdl-3"></div>
          </td>
          <td class="rocrate-cond-desc">
            <div class="rocrate-cond-desc-container">
              <div class="rocrate-cond-desc-input" id="rcdi-3"></div>
            </div>
          </td>
        </tr>
        <tr class="rocrate-cond-row">
          <td class="rocrate-cond-label">
            <div class="rocrate-cond-desc-label" id="rcdl-4"></div>
          </td>
          <td class="rocrate-cond-desc">
            <div class="rocrate-cond-desc-container">
              <div class="rocrate-cond-desc-input" id="rcdi-4"></div>
            </div>
          </td>
        </tr>
      </table>

      <strong>About your reaction</strong>
      <p>Providing a ChemDraw file of your reaction provides invaluable information to help others to understand
        your experiment. The file is also machine-readable meaning that useful metadata can be automatically
        extracted and make it easier for your data to be found and understood.</p>
      <input type="file" name="rocrate-cdxml" id="rocrate-cdxml">

      <br><br>
      <h5>About this dataset</h5>

      <button type="button" id="rocrate-default-title-desc">Use default title and description</button>

      <table class="label-table" id="rocrate-title-table">
        <tr class="title-row">
          <td class="label-cell">
            <label for="rocrate-title-input" id="rocrate-title-label">Title:</label>
          </td>
          <td class="title-input-cell">
            <div class="title-input-container">
              <div id="rocrate-title-input"></div>
            </div>
          </td>
        </tr>
      </table>

      <table class="label-table" id="rocrate-desc-table">
        <tr class="desc-row">
          <td class="label-cell">
            <label for="rocrate-desc-input" id="rocrate-desc-label">Description:</label>
          </td>
          <td class="desc-input-cell">
            <div class="desc-input-container">
              <div id="rocrate-desc-input"></div>
            </div>
          </td>
        </tr>
      </table>

      <strong>License:</strong>
      <p>Choosing a license enables others to understand what they can do with your data. Select from the
        license options below or choose an alternative license in Other. You can visit spdx.org to find out more
        about kinds of licenses that might be appropriate for your project. If your license requires attribution, you
        must enter bibliographic information about the contributors to this dataset.</p>
      <ul class="no-bullet">
        <li><input type="radio" name="rocrate-license" id="rocrate-license-cc0" value="cc0-1.0">
          <a href="">CC0-1.0 (Public Domain)</a>
        </li>
        <li><input type="radio" name="rocrate-license" id="rocrate-license-cc-by-4.0" value="cc-by-4.0">
          <a href="">CC-BY-4.0 (Attribution)</a>
        </li>
        <li><input type="radio" name="rocrate-license" id="rocrate-license-cc-by-sa-4.0" value="cc-by-sa-4.0">
          <a href="">CC-BY-SA-4.0 (Attribution Share Alike)</a>
        </li>
        <li><input type="radio" name="rocrate-license" id="rocrate-license-other" value="other">
          <select name="rocrate-license-other-select" id="rocrate-license-other-select">
            <option value="other" disabled selected>Other</option>
          </select>
        </li>
      </ul>

      <strong>About:</strong>
      <p>You can customise the following text that describes the purpose of the dataset.</p>
      <button type="button" id="rocrate-about-default">Restore default</button>

      <br><br>
      <h5>Bibliographic Information</h5>

      <p>Adding information in this section enables others to understand who contributed to the research and to
        provide the appropriate attribution. If you do not have an ORCID, add a link to your LinkedIn account or
        personal institutional web page.</p>

      <table id="rocrate-contrib-table">
        <tr class="rocrate-contrib-row" id="rcw-0">
          <td class="rocrate-contrib-button-cell row-button-cell">
            <div class="row-button-container">
              <button type="button" id="remove-rcb-0" class="remove-contrib disabled fix-size-small"
                title="Remove this contributor">-</button>
              <button type="button" id="add-rcb-0" class="add-contrib fix-size-small"
                title="Add a contributor">+</button>
            </div>
          </td>
          <td class="rocrate-contrib-cell" id="rcc-0">
            <table class="label-table rocrate-name-table">
              <tr class="rocrate-name-row">
                <td class="label-cell">
                  <label for="rni-0">Name:</label>
                </td>
                <td class="input-cell">
                  <input type="text" name="rocrate-name-input" class="rocrate-name-input" id="rni-0">
                </td>
                <td class="button-cell">
                  <button type="button" class="rocrate-orcid-lookup">ORCID Lookup</button>
                </td>
                <td class="label-cell">
                  <label for="roi-0">ORCID:</label>
                </td>
                <td class="input-cell">
                  <input type="text" name="rocrate-orcid-input" class="rocrate-orcid-input" id="roi-0">
                </td>
              </tr>
            </table>
            <table class="label-table" class="rocrate-webpage-table">
              <tr class="rocrate-webpage-row">
                <td class="label-cell">
                  <label for="rw-0">LinkedIn or Institutional web page:</label>
                </td>
                <td class="input-cell">
                  <input type="url" name="rocrate-webpage" class="rocrate-webpage" id="rw-0">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <p>Providing contact information enables a user to make contact if they are interested in your research or
        wish to ask questions.</p>
      <table class="label-table" id="rocrate-email-table">
        <tr class="rocrate-email-row">
          <td class="label-cell">
            <label for="rocrate-email-input">Primary contact email:</label>
          </td>
          <td class="input-cell">
            <input type="email" name="rocrate-email-input" id="rocrate-email-input">
          </td>
        </tr>
      </table>

      <p>The following citation will be added to the README for the data package based on the information you
        have provided.</p>
      <textarea id="rocract-baseline-desc" name="rocract-baseline-desc" rows="5" placeholder="Please cite: Fuhao ZHANG
      and Frank Glorius, Dataset generated by PSDI Glorius Plot Generator version 0.1: Reaction-condition sensitivity
      analysis for 1,3-cyclization (modified 2025-12-04)."></textarea>

      <br><br>
      <h5>File Structure</h5>

      <p>The following files and directory structure will be created in a zip file when you click the
        <strong>Download Data Package</strong> button below.
      </p>

      <ul>
        <li><code>(root)/</code>
          <ul>
            <li><code>ESI.pdf</code></li>
            <li><code>README.md</code></li>
            <li><code>ro-crate-metadata.json</code></li>
            <li><code>data/</code>
              <ul>
                <li><code>reaction_scheme.cdxml</code></li>
                <li><code>standard_conditions.html</code></li>
                <li><code>test_conditions.csv</code></li>
                <li><code>plot/</code>
                  <ul>
                    <li><code>glorius_plot.png</code></li>
                    <li><code>sensitivity_table.csv</code></li>
                    <li><code>user_preferences.json</code></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <button type="submit">Download Data Package</button>

    </form>
  </div>
</div>
{% endblock %}