{% extends "parent/layout.htm" %}

{% block head %}
<!-- Set JS variables based on Python variables passed to the template renderer -->
<script>
  const version = "{{tag[1:]}}";
  const fontsUrl = "{{url_for('static', filename='fonts', _external=true)}}";
  let debug;
</script>
{% if debug_mode %}
<script>debug = true;</script>
{% else %}
<script>debug = false;</script>
{% endif %}

{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block hero_title %}PSDI Glorius Plot Generator{% endblock %}

{% block content_before_main %}
<div class="secondary mathjax_ignore" id="instructions">
  <div class="max-width-box">
    <p>
      This service enables users to visualise the sensitivity of a given chemical transformation to user-defined
      reaction conditions. The output plots are closely based on an
      <a href="https://onlinelibrary.wiley.com/doi/10.1002/anie.201901935" target="_blank">original concept from the
        Glorius research group</a>.
    </p>
    <p>
      This service is still a work in progress, and feedback is very welcome, whether feature requests, bug reports, or
      even highlighting a feature you find particularly useful so we know not to remove it when streamlining the
      service. To provide feedback, click the “Provide Feedback” link on the right side of the header, which will open
      up a form to submit it.
    </p>
    <div class="multicol">
      <div class="multicol-element">
        <details>
          <summary class="info-marker"><strong>Instructions</strong></summary>
          <p>
            Select the reaction outcome of interest (e.g., commonly reaction yield, <em>ee</em> or <em>de</em>) and
            define the number of experimental parameters, or “test conditions”, that you have used in your sensitivity
            analysis. If you have conducted repeat reactions for each test condition, then select the number of
            experiments that
            were carried out.
          </p>
          <p>
            Fill in the reaction outcome table. This can be navigated by keyboard with tab to move horizontally, enter
            to move vertically (holding shift to move in reverse), and escape to select the add/remove row buttons.
          </p>
          <ul>
            <li>Input the value of the reaction outcome (yield, <em>ee</em> or <em>de</em>) for your optimised “standard
              conditions”.</li>
            <li>Add labels to define each test condition that was used in your sensitivity analysis, and add the value
              of the reaction outcome for each test reaction.</li>
            <li>Select the “value to plot”. Values of the reaction outcome can be plotted directly, or deviation of the
              outcome from the standard conditions may be used.</li>
          </ul>
          <p>
            Tools for customisation of the plot are available beneath the plotting window. These can be use to change
            the plot style to "fan" mode (a circular bar chart, which is recommended for better readability), resize the
            plot and labels, adjust the colour scheme, and adjust how the data is ordered on the plot.
          </p>
        </details>
      </div>
      <div class="multicol-element">
        <details>
          <summary class="info-marker"><strong>Help with formatting and special symbols</strong> - what to do if text
            appears as a black bar on the chart
          </summary>
          <p>
            Most text inputs here support advanced formatting, which will be rendered on the plot just as it appears in
            the editor. If you choose to export a data package, appropriate formatted text will be rendered in the
            contained images and files, as much as supported by their various formats (e.g. Markdown doesn't support
            underline, so underlines won't appear in <code>.md</code> files, but other formatting will still be
            present).
          </p>
          <p>
            <strong>Basic formatting:</strong> You can format text entered in the Title and various other fields by
            clicking on the formatting buttons in the toolbar that appears above the text-input boxes when they're
            selected, either by clicking a button then entering text, or by selecting text and then clicking a button.
            If the text is longer than the box can fit in one line, a scrollbar will appear at the right side of the box
            allowing you to scroll up and down lines of text.
          </p>
          <p>This formatting is done through a LaTeX equation rendering engine, which results in some unavoidable quirks
            such as it always putting spaces around mathematical operators. If the renderer fails to parse the text, it
            will appear as a black bar on the chart. The most common cause of this is less-than and greater-than
            symbols, which get interpreted as HTML tags. This can by worked around by replacing them with “\gt” and
            “\lt” respectively.
          </p>
          <p>
            <strong>Special symbols:</strong> Click the “<strong>Ω</strong>” button in the toolbar to open a palette to
            select a special symbol to insert. If you need a symbol not listed here, you can search for it at a site
            such as <a href="https://unicodeplus.com/">UnicodePlus</a> and copy the character from there (note that this
            site displays the characters in bold and that formatting will be copied over, so if you don't want it,
            either choose to paste without formatting (ctrl+shift+v on Windows and Linux, not supported on MacOS) or
            remove the formatting afterwards).
          </p>
          <p>
            <strong>Advanced formatting:</strong> If you're familiar with LaTeX markup, you can use it to directly set
            the text that will appear on the chart, or you can use <a href="https://latexeditor.lagrida.com/">a LaTeX
              equation editor</a> to help. Malformed LaTeX markup will appear as red on the chart, or may result in the
            renderer failing entirely, resulting in the text appearing as a black bar on the chart.
          </p>
        </details>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block inner_content %}

<!-- Templates used in this page -->
<template id="quill-toolbar">
  <div role="toolbar" class="ql-toolbar ql-snow">
    <span class="ql-formats">
      <button type="button" title="Bold" class="ql-bold"></button>
      <button type="button" title="Italics" class="ql-italic"></button>
      <button type="button" title="Underline" class="ql-underline"></button>
      <button type="button" title="Subscript" class="ql-script" value="sub"></button>
      <button type="button" title="Superscript" class="ql-script" value="super"></button>
      <button type="button" title="Insert special symbol" class="insert-symbol">
        <div class="button-text">Ω</div>
      </button>
    </span>
  </div>
</template>

<template id="symbol-palette">
  <div role="toolbar" class="symbol-palette">
    <button type="button" title="Degree">
      <div class="button-text">°</div>
    </button>
    <button type="button" title="Angstrom">
      <div class="button-text">Å</div>
    </button>
    <button type="button" title="Rightwards arrow">
      <div class="button-text">→</div>
    </button>
    <button type="button" title="Long rightwards double arrow">
      <div class="button-text">⟹</div>
    </button>
    <button type="button" title="Plus">
      <div class="button-text">+</div>
    </button>
    <button type="button" title="Minus">
      <div class="button-text">-</div>
    </button>
    <button type="button" title="Multiplication">
      <div class="button-text">×</div>
    </button>
    <button type="button" title="Division">
      <div class="button-text">÷</div>
    </button>
    <button type="button" title="Plus-minus">
      <div class="button-text">±</div>
    </button>
    <button type="button" title="Minus-plus">
      <div class="button-text">∓</div>
    </button>
    <button type="button" title="Equals">
      <div class="button-text">=</div>
    </button>
    <button type="button" title="Not equals">
      <div class="button-text">≠</div>
    </button>
    <button type="button" title="Less-than">
      <div class="button-text">&lt;</div>
    </button>
    <button type="button" title="Greater-than">
      <div class="button-text">></div>
    </button>
    <button type="button" title="Less-than or equal to">
      <div class="button-text">≤</div>
    </button>
    <button type="button" title="Greater-than or equal to">
      <div class="button-text">≥</div>
    </button>
    <button type="button" title="Less-than or equivalent to">
      <div class="button-text">≲</div>
    </button>
    <button type="button" title="Greater-than or equivalent to">
      <div class="button-text">≳</div>
    </button>
    <button type="button" title="Much less-than">
      <div class="button-text">≪</div>
    </button>
    <button type="button" title="Much greater-than">
      <div class="button-text">≫</div>
    </button>
    <button type="button" title="Greek small alpha">
      <div class="button-text">α</div>
    </button>
    <button type="button" title="Greek small beta">
      <div class="button-text">β</div>
    </button>
    <button type="button" title="Greek small gamma">
      <div class="button-text">γ</div>
    </button>
    <button type="button" title="Greek small delta">
      <div class="button-text">δ</div>
    </button>
    <button type="button" title="Greek small epsilon">
      <div class="button-text">ε</div>
    </button>
    <button type="button" title="Greek small zeta">
      <div class="button-text">ζ</div>
    </button>
    <button type="button" title="Greek small eta">
      <div class="button-text">η</div>
    </button>
    <button type="button" title="Greek small theta">
      <div class="button-text">θ</div>
    </button>
    <button type="button" title="Greek small iota">
      <div class="button-text">ι</div>
    </button>
    <button type="button" title="Greek small kappa">
      <div class="button-text">κ</div>
    </button>
    <button type="button" title="Greek small lamda">
      <div class="button-text">λ</div>
    </button>
    <button type="button" title="Greek small mu">
      <div class="button-text">μ</div>
    </button>
    <button type="button" title="Greek small nu">
      <div class="button-text">ν</div>
    </button>
    <button type="button" title="Greek small xi">
      <div class="button-text">ξ</div>
    </button>
    <button type="button" title="Greek small omicron">
      <div class="button-text">ο</div>
    </button>
    <button type="button" title="Greek small pi">
      <div class="button-text">π</div>
    </button>
    <button type="button" title="Greek small rho">
      <div class="button-text">ρ</div>
    </button>
    <button type="button" title="Greek small final sigma">
      <div class="button-text">ς</div>
    </button>
    <button type="button" title="Greek small sigma">
      <div class="button-text">σ</div>
    </button>
    <button type="button" title="Greek small tau">
      <div class="button-text">τ</div>
    </button>
    <button type="button" title="Greek small upsilon">
      <div class="button-text">υ</div>
    </button>
    <button type="button" title="Greek small phi">
      <div class="button-text">φ</div>
    </button>
    <button type="button" title="Greek small chi">
      <div class="button-text">χ</div>
    </button>
    <button type="button" title="Greek small psi">
      <div class="button-text">ψ</div>
    </button>
    <button type="button" title="Greek small omega">
      <div class="button-text">ω</div>
    </button>
    <button type="button" title="Greek capital Alpha">
      <div class="button-text">Α</div>
    </button>
    <button type="button" title="Greek capital Beta">
      <div class="button-text">Β</div>
    </button>
    <button type="button" title="Greek capital Gamma">
      <div class="button-text">Γ</div>
    </button>
    <button type="button" title="Greek capital Delta">
      <div class="button-text">Δ</div>
    </button>
    <button type="button" title="Greek capital Epsilon">
      <div class="button-text">Ε</div>
    </button>
    <button type="button" title="Greek capital Zeta">
      <div class="button-text">Ζ</div>
    </button>
    <button type="button" title="Greek capital Eta">
      <div class="button-text">Η</div>
    </button>
    <button type="button" title="Greek capital Theta">
      <div class="button-text">Θ</div>
    </button>
    <button type="button" title="Greek capital Iota">
      <div class="button-text">Ι</div>
    </button>
    <button type="button" title="Greek capital Kappa">
      <div class="button-text">Κ</div>
    </button>
    <button type="button" title="Greek capital Lamda">
      <div class="button-text">Λ</div>
    </button>
    <button type="button" title="Greek capital Mu">
      <div class="button-text">Μ</div>
    </button>
    <button type="button" title="Greek capital Nu">
      <div class="button-text">Ν</div>
    </button>
    <button type="button" title="Greek capital Xi">
      <div class="button-text">Ξ</div>
    </button>
    <button type="button" title="Greek capital Omicron">
      <div class="button-text">Ο</div>
    </button>
    <button type="button" title="Greek capital Pi">
      <div class="button-text">Π</div>
    </button>
    <button type="button" title="Greek capital Rho">
      <div class="button-text">Ρ</div>
    </button>
    <button type="button" title="Greek capital Sigma">
      <div class="button-text">Σ</div>
    </button>
    <button type="button" title="Greek capital Tau">
      <div class="button-text">Τ</div>
    </button>
    <button type="button" title="Greek capital Upsilon">
      <div class="button-text">Υ</div>
    </button>
    <button type="button" title="Greek capital Phi">
      <div class="button-text">Φ</div>
    </button>
    <button type="button" title="Greek capital Chi">
      <div class="button-text">Χ</div>
    </button>
    <button type="button" title="Greek capital Psi">
      <div class="button-text">Ψ</div>
    </button>
    <button type="button" title="Greek capital Omega">
      <div class="button-text">Ω</div>
    </button>
  </div>
</template>

<div class="multicol-on-big-screen wrap col-if-details-closed full-width">
  <form class="multicol-element align-start-if-open full-width allow-overflow-x">
    <details id="data-input" class="rounded-border full-width allow-overflow-x col-if-closed-trigger" open>

      <div class="hidden hidden-until-rocrate">
        <button type="button" title="Return to data package export section"
          class="returnToROCrateExport no-left-margin">↪ Return to data package export</button>
        <br><br>
      </div>

      <summary class="large-marker mw-32" open>
        <h4>Data Input</h4>
      </summary>

      <table class="title-table label-table">
        <tr class="title-row">
          <td class="label-cell">
            <label for="title-input" id="title-label">Title:</label>
          </td>
          <td class="title-input-cell">
            <div class="title-input-container">
              <div id="title-input"></div>
            </div>
          </td>
        </tr>
      </table>

      <table class="output-label-table label-table">
        <tr class="output-label-row">
          <td class="label-cell">
            <label for="os-0" class="output-label">Outcome:</label>
          </td>
          <td class="output-label-select-cell">
            <select name="output-label-select" class="output-label-select" id="os-0">
              <option value="Isolated Yield (%)" selected>Isolated Yield (%)</option>
              <option value="Spectroscopic Yield (%)">Spectroscopic Yield (%)</option>
              <option value="Chromatographic Yield (%)">Chromatographic Yield (%)</option>
              <option value="&lt;em&gt;ee&lt;/em&gt; (%)">ee (%)</option>
              <option value="&lt;em&gt;de&lt;/em&gt; (%)">de (%)</option>
              <option value="Other">Other</option>
            </select>
          </td>
          <td class="output-label-value-cell hidden">
            <div class="output-input-container">
              <div id="ol-0">Isolated Yield (%)</div>
            </div>
          </td>
        </tr>
      </table>
      <table id="table-options" class="label-table">
        <tr>
          <td>
            <label for="num-condition">Test conditions: </label>
          </td>
          <td>
            <select name="num-condition" id="num-condition">
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5" selected>5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </td>
          <td id="num-sample-cell">
            <label for="num-sample" class="calc-mode-only max-width-15 med-left-margin">Number of experiments conducted
              for each test condition:</label>
          </td>
          <td>
            <select name="num-sample" id="num-sample" class="calc-mode-only">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </td>
        </tr>
      </table>

      <table class="sensitivity-table">

        <tr class="sensitivity-buttons calc-mode-only">

          <td class="empty-cell"></td>
          <td class="empty-cell"></td>
          <td class="sample-button-cell">
            <div class="sample-button-container">
              <button type="button" id="remove-sb-0" class="remove-sample disabled fix-size-small" disabled="true"
                title="Remove this column">-</button>
              <button type="button" id="add-sb-0" class="add-sample fix-size-small" title="Add a column">+</button>
            </div>
          </td>
          <td class="empty-cell button-mean-cell hidden"></td>
          <th colspan="2" class="deviation-heading">Deviation from Standard Conditions</th>

        </tr>

        <tr class="sensitivity-header">

          <th class="empty-heading"></th>

          <th class="condition-label-heading">
            Label
          </th>

          <th class="sample-heading calc-mode-only">Isolated Yield (%)</th>

          <th class="mean-heading hidden">Mean Isolated Yield (%)</th>

          <th class="abs-deviation-heading">(+/-)</th>

          <th class="rel-deviation-heading col-selected-top">(%)</th>

        </tr>

        <tr class="baseline-row calc-mode-only">
          <td class="empty-cell"></td>
          <td class="baseline-label calc-mode-only">Standard Conditions</td>
          <td class="baseline-value-cell calc-mode-only">
            <div class="baseline-line-container">
              <div class="baseline-input-line">
                <input type="number" min="0" max="100" step="any" class="baseline-value trigger-chart-update">
              </div>
            </div>
          </td>
          <td class="baseline-mean-cell hidden">
            <input type="number" step="any" class="calc-mode-disabled mean-value trigger-chart-update" value="100"
              disabled>
          </td>
          <td class="empty-cell baseline-abs-deviation-cell"></td>
          <td class="empty-cell baseline-rel-deviation-cell col-selected"></td>
        </tr>

        <tr class="condition-row">
          <td class="condition-button-cell row-button-cell">
            <div class="row-button-container">
              <button type="button" id="remove-cb-0" class="remove-condition disabled fix-size-small"
                title="Remove this row">-</button>
              <button type="button" id="add-cb-0" class="add-condition fix-size-small" title="Add a row">+</button>
            </div>
          </td>
          <td class="condition-label-cell">
            <div class="condition-label-container">
              <div class="condition-input" id="cl-0"></div>
            </div>
          </td>
          <td class="sample-value-cell calc-mode-only">
            <div class="sample-line-container">
              <div class="sample-input-line">
                <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
              </div>
            </div>
          </td>
          <td class="mean-value-cell hidden">
            <div class="mean-line-container">
              <div class="mean-input-line">
                <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
          <td class="abs-deviation-value-cell">
            <div class="abs-deviation-line-container">
              <div class="abs-deviation-input-line">
                <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
          <td class="rel-deviation-value-cell col-selected">
            <div class="rel-deviation-line-container">
              <div class="rel-deviation-input-line">
                <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
        </tr>

        <tr class="condition-row">
          <td class="condition-button-cell row-button-cell">
            <div class="row-button-container">
              <button type="button" id="remove-cb-1" class="remove-condition disabled fix-size-small"
                title="Remove this row">-</button>
              <button type="button" id="add-cb-1" class="add-condition fix-size-small" title="Add a row">+</button>
            </div>
          </td>
          <td class="condition-label-cell">
            <div class="condition-label-container">
              <div class="condition-input" id="cl-1"></div>
            </div>
          </td>
          <td class="sample-value-cell calc-mode-only">
            <div class="sample-line-container">
              <div class="sample-input-line">
                <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
              </div>
            </div>
          </td>
          <td class="mean-value-cell hidden">
            <div class="mean-line-container">
              <div class="mean-input-line">
                <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
          <td class="abs-deviation-value-cell">
            <div class="abs-deviation-line-container">
              <div class="abs-deviation-input-line">
                <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
          <td class="rel-deviation-value-cell col-selected">
            <div class="rel-deviation-line-container">
              <div class="rel-deviation-input-line">
                <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
        </tr>

        <tr class="condition-row">
          <td class="condition-button-cell row-button-cell">
            <div class="row-button-container">
              <button type="button" id="remove-cb-2" class="remove-condition disabled fix-size-small"
                title="Remove this row">-</button>
              <button type="button" id="add-cb-2" class="add-condition fix-size-small" title="Add a row">+</button>
            </div>
          </td>
          <td class="condition-label-cell">
            <div class="condition-label-container">
              <div class="condition-input" id="cl-2"></div>
            </div>
          </td>
          <td class="sample-value-cell calc-mode-only">
            <div class="sample-line-container">
              <div class="sample-input-line">
                <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
              </div>
            </div>
          </td>
          <td class="mean-value-cell hidden">
            <div class="mean-line-container">
              <div class="mean-input-line">
                <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
          <td class="abs-deviation-value-cell">
            <div class="abs-deviation-line-container">
              <div class="abs-deviation-input-line">
                <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
          <td class="rel-deviation-value-cell col-selected">
            <div class="rel-deviation-line-container">
              <div class="rel-deviation-input-line">
                <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
        </tr>

        <tr class="condition-row">
          <td class="condition-button-cell row-button-cell">
            <div class="row-button-container">
              <button type="button" id="remove-cb-3" class="remove-condition disabled fix-size-small"
                title="Remove this row">-</button>
              <button type="button" id="add-cb-3" class="add-condition fix-size-small" title="Add a row">+</button>
            </div>
          </td>
          <td class="condition-label-cell">
            <div class="condition-label-container">
              <div class="condition-input" id="cl-3"></div>
            </div>
          </td>
          <td class="sample-value-cell calc-mode-only">
            <div class="sample-line-container">
              <div class="sample-input-line">
                <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
              </div>
            </div>
          </td>
          <td class="mean-value-cell hidden">
            <div class="mean-line-container">
              <div class="mean-input-line">
                <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
          <td class="abs-deviation-value-cell">
            <div class="abs-deviation-line-container">
              <div class="abs-deviation-input-line">
                <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
          <td class="rel-deviation-value-cell col-selected">
            <div class="rel-deviation-line-container">
              <div class="rel-deviation-input-line">
                <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
        </tr>

        <tr class="condition-row">
          <td class="condition-button-cell row-button-cell">
            <div class="row-button-container">
              <button type="button" id="remove-cb-4" class="remove-condition disabled fix-size-small"
                title="Remove this row">-</button>
              <button type="button" id="add-cb-4" class="add-condition fix-size-small" title="Add a row">+</button>
            </div>
          </td>
          <td class="condition-label-cell">
            <div class="condition-label-container">
              <div class="condition-input" id="cl-4"></div>
            </div>
          </td>
          <td class="sample-value-cell calc-mode-only">
            <div class="sample-line-container">
              <div class="sample-input-line">
                <input type="number" min="0" max="100" step="any" class="sample-value trigger-deviation-update">
              </div>
            </div>
          </td>
          <td class="mean-value-cell hidden">
            <div class="mean-line-container">
              <div class="mean-input-line">
                <input type="number" step="any" class="mean-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
          <td class="abs-deviation-value-cell">
            <div class="abs-deviation-line-container">
              <div class="abs-deviation-input-line">
                <input type="number" step="any" class="abs-deviation-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
          <td class="rel-deviation-value-cell col-selected">
            <div class="rel-deviation-line-container">
              <div class="rel-deviation-input-line">
                <input type="number" step="any" class="rel-deviation-value trigger-chart-update" value="0" disabled>
              </div>
            </div>
          </td>
        </tr>

        <tr id="plot-select-row">
          <td class="empty-button-cell"></td>
          <td class="plot-select-label"><strong>Value to plot:</strong></td>
          <td class="empty-cell mean-shown-only hidden"></td>
          <td class="plot-select-cell plot-select-mean-cell">
            <label class="plot-select-container" for="plot-mean">
              <input type="radio" name="plot-select" class="plot-select trigger-chart-update" id="plot-mean"
                value="mean" label="Plot the (mean) sample values">
            </label>
          </td>
          <td class="plot-select-cell plot-select-abs-cell">
            <label class="plot-select-container" for="plot-abs">
              <input type="radio" name="plot-select" class="plot-select trigger-chart-update" id="plot-abs"
                value="absolute" label="Plot the deviation from the standard conditions (+/-)">
            </label>
          </td>
          <td class="plot-select-cell plot-select-rel-cell col-selected-bottom">
            <label class="plot-select-container" for="plot-rel">
              <input type="radio" name="plot-select" class="plot-select trigger-chart-update" id="plot-rel"
                value="relative" checked label="Plot the deviation from the standard conditions (%)">
            </label>
          </td>
        </tr>

      </table>

      <button type="button" id="fill-random" title="Fill the table with random data">Fill with random data</button>
      <button type="button" id="fill-example" class="mouseover-tooltip" data-bs-toggle="tooltip"
        data-bs-custom-class="tooltip-on-light" data-bs-placement="top" title="This fills the table with an example
        dataset sourced from Table S9 of Zhang 𝘦𝘵 𝘢𝘭. (2024), “Solvent-Dependent Divergent Cyclization of
        Bicyclo[1.1.0]butanes”, https://doi.org/10.1002/anie.202418239">Fill with example data</button>
    </details>
  </form>

  <div id="plot-display" class="multicol-element">
    <div class="full-width">
      <div id="plot-controls" class="center-section hidden">
        <button type="button" id="generate-plot" title="Regenerate the plot">Regenerate Plot</button>
        <span id="auto-update" class="mouseover-tooltip" data-bs-toggle="tooltip"
          data-bs-custom-class="tooltip-on-light" data-bs-placement="top" title="If the regeneration of the plot is
          causing slowdown, disable this and click the “Regenerate Plot” button to the left as needed to manually
          generate it">
          <input type="checkbox" name="auto-update-toggle" id="auto-update-toggle" checked>
          <label for="auto-update-toggle">Auto-update</label>
        </span>
      </div>
      <canvas id="glorius-plot" class="white-bg center-section"></canvas>
    </div>
  </div>
</div>

<form class="full-width">
  <details id="plot-config" class="rounded-border center-section full-width" open>

    <summary class="large-marker">
      <h4>Plot Configuration</h4>
    </summary>

    <div class="multicol-on-big-screen m950">
      <div class="multicol-element">
        <p>
          <label for="fan-select">Plot style: </label>
          <select id="fan-select" class="trigger-chart-update">
            <option value="radar">Radar</option>
            <option value="fan">Fan</option>
          </select>
        </p>
        <table id="plot-size-options" class="label-table">
          <tr>
            <td>
              <label for="width-input" class="align-right">Plot width in pixels: </label>
            </td>
            <td>
              <input type="number" step="50" value="600" min="200" max="4000" name="width-input" id="width-input"
                class="trigger-chart-update w4">
            </td>
            <td>
              <label for="label-font-size-input" class="align-right">Condition label font size: </label>
            </td>
            <td>
              <input type="number" name="label-font-size-input" id="label-font-size-input"
                class="trigger-chart-update w4" min="2" max="64" value="18">
            </td>
          </tr>
          <tr>
            <td>
              <label for="height-input" class="align-right">Plot height in pixels: </label>
            </td>
            <td>
              <input type="number" step="50" value="600" min="200" max="4000" name="height-input" id="height-input"
                class="trigger-chart-update w4">
            </td>
            <td>
              <label for="axis-font-size-input" class="align-right">Axis label font size: </label>
            </td>
            <td>
              <input type="number" name="axis-font-size-input" id="axis-font-size-input" class="trigger-chart-update w4"
                min="2" max="64" value="16">
            </td>
          </tr>
          <tr>
            <td>
              <label for="lock-aspect-ratio" class="align-right">Lock aspect ratio:</label>
            </td>
            <td>
              <input type="checkbox" name="lock-aspect-ratio" id="lock-aspect-ratio" checked>
            </td>
            <td>
              <label for="scale-font-size" class="align-right">Scale font size with plot size:</label>
            </td>
            <td>
              <input type="checkbox" name="scale-font-size" id="scale-font-size">
            </td>
          </tr>
        </table>
        <button type="button" id="reset-plot-dims" class="trigger-chart-update" title="Reset the plot height, plot width,
        condition label font size, and axis label font size to their default values">Reset Size and Shape</button>
      </div>
      <div class="multicol-element">
        <table class="label-table">
          <tr>
            <td>
              <label for="min-output-input">Minimum output:</label>
            </td>
            <td class="value-">
              <input type="number" step="any" value="-100" name="min-output-input" id="min-output-input"
                class="trigger-chart-update w4">
            </td>
            <td>
              <label for="band-width-input" class="small-left-margin">Band width: </label>
            </td>
            <td>
              <input type="number" step="5" value="25" min="5" max="50" name="band-width-input" id="band-width-input"
                class="trigger-chart-update w4">
            </td>
          </tr>
          <tr>
            <td>
              <label for="max-output-input" class="small-left-margin">Maximum output:</label>
            </td>
            <td>
              <input type="number" step="any" value="50" name="max-output-input" id="max-output-input"
                class="trigger-chart-update w4">
            </td>
          </tr>
          <tr>
            <td>
              <label for="color-select">Colour scheme:</label>
            </td>
            <td colspan="2">
              <select name="color-select" id="color-select">
                <option value="colourblind" selected>Colourblind-friendly</option>
                <option value="classic">Classic</option>
                <option value="greyscale">Greyscale</option>
                <option value="custom">Custom</option>
              </select>
            </td>
            <td>
              <label for="min-color-input">Color at lowest output:</label>
            </td>
            <td>
              <input type="color" value="#F05200" name="min-color-input" id="min-color-input"
                class="trigger-chart-update color-custom w4">
            </td>
          </tr>
          <tr>
            <td class="empty-cell"></td>
            <td colspan="2" class="empty-cell"></td>
            <td>
              <label for="max-color-input">Color at highest output:</label>
            </td>
            <td>
              <input type="color" value="#0093F5" name="max-color-input" id="max-color-input"
                class="trigger-chart-update color-custom w4">
            </td>
          </tr>
          <tr>
            <td>
              <label for="sort-option">Data arrangement:</label>
            </td>
            <td colspan="2">
              <select name="sort-option" id="sort-option" class="trigger-chart-update">
                <option value="1">Ascending</option>
                <option value="-1">Descending</option>
                <option value="0">As entered</option>
              </select>
            </td>
            <td class="empty-cell"></td>
            <td class="empty-cell"></td>
          </tr>
        </table>
      </div>
    </div>
  </details>
</form>

<div id="export-options" class="multicol-on-big-screen m900">
  <details class="multicol-element rounded-border" open>
    <summary class="large-marker">
      <h4>Save your progress</h4>
    </summary>
    <label class="info-marker">Save your progress as a <code>.json</code> file or reload it.
    </label>
    <div id="save-load-data-buttons">
      <span id="save-data-container">
        <button type="button" id="save-data" title="Save the input data and plot configuration in a .json file which
          can be loaded later to resume or share work">
          <img src="{{url_for('static', filename='img/icon-download.svg')}}" alt="Download icon" class="text-icon">
          Save Progress
        </button>
      </span>
      <span id="load-data-container">
        <button type="button" id="load-data" title="Load data from a previously-saved .json file">
          <img src="{{url_for('static', filename='img/icon-upload.svg')}}" alt="Upload icon" class="text-icon">
          Resume Work
        </button>
        <!-- We use a hidden file select which gets triggered when the user clicks the button, and then changing this
         triggers loading the file. For running unit tests, this can't really be automated, so we don't hide it if test
         mode is enabled -->
        <input type="file" name="load-data-file" id="load-data-file" class="{% if not test_mode %}hidden{% endif %}"
          accept=".json">
      </span>
    </div>
  </details>

  <details class="multicol-element rounded-border" open>
    <summary class="large-marker">
      <h4>Export plot as an image</h4>
    </summary>
    <label for="export-image-buttons" class="info-marker">You can export your Glorius Plot as a <code>.png</code> or
      <code>.svg</code> file. <code>.png</code> has broader compatibility, while <code>.svg</code> allows the image to
      be
      resized without losing detail.
    </label>
    <table id="export-image-buttons">
      <tr>
        <td>
          <button type="button" id="export-image-png" title="Export the plot as a bitmapped .png image">
            <img src="{{url_for('static', filename='img/icon-download.svg')}}" alt="Download icon" class="text-icon">
            Download Plot as PNG</button>
        </td>
        <td>
          <button type="button" id="export-image-svg" title="Export the plot as a vector .svg image">
            <img src="{{url_for('static', filename='img/icon-download.svg')}}" alt="Download icon" class="text-icon">
            Download Plot as SVG</button>
        </td>
        <td>
          <span class="loading-spinner spinner-border hidden"></span>
        </td>
      </tr>
    </table>
  </details>
</div>

<details class="rounded-border full-width hidden-after-rocrate" open>
  <summary class="large-marker">
    <h4>Export as a FAIR data package</h4>
  </summary>
  <label for="export-data-package-buttons" class="info-marker">You can export a FAIR data package to accompany your
    Glorius plot by providing some additional information. The more information you can provide, the more useful the
    data package will be for others. If you choose not to add any additional information, a simple version of the data
    package will be exported instead. Click the “Configure Data Package” button below to set up and export your data
    package.
  </label>
  <div id="export-data-package-buttons">
    <button type="button" id="export-rocrate-start"
      title="Open the form to export the plot and data as an RO-crate data package">
      <img src="{{url_for('static', filename='img/icon-config.svg')}}" alt="Config icon" class="text-icon"
        style="transform: translate(0, -6.25%);">
      Configure Data Package</button>
  </div>
</details>

<details id="rocrate-input" class="hidden rounded-border center-section rocrate-export" open>
  <summary class="large-marker">
    <h4 id="rocrate-export-title">Configure your data package</h4>
  </summary>
  <p>
    Enter additional information in this section to make your data package more useful for others. Refer to the <a
      href="#rocrate-file-structure">File Structure</a> section for information about what files will be included in
    your FAIR data package. When you have finished configuring your preferences, click the “Download Data Package”
    button to download a FAIR data package containing your plot, data, and other information you provided.
  </p>
  <form>

    <button type="button" title="Return to the Data Input section" id="returnToDataInput" class="no-left-margin">↩
      Return to data input</button>

    <br><br>
    <h5>About your experiment</h5>

    <strong>Standard Conditions</strong><br>
    <div class="multicol-on-big-screen">
      <div class="multicol-element">
        <label for="rocrate-cdxml" class="info-marker">Add a ChemDraw <code>.cdxml</code> file that depicts the chemical
          process corresponding to your “Standard Conditions”. Including a <code>.cdxml</code> file enables chemical
          information to be linked to your data.</label>
        <br>
        <input type="file" name="rocrate-cdxml" id="rocrate-cdxml" accept=".cdxml"><br>
      </div>
      <div class="multicol-element">
        <label for="rocrate-img" class="info-marker">Add a <code>.png</code> illustration of the reaction which will be
          added to the supplementary information file. This can be generated from a <code>.cdxml</code> file using e.g.
          the <a href="https://data-conversion.psdi.ac.uk/">PSDI Data Conversion Service</a>.</label>
        <br>
        <input type="file" name="rocrate-img" id="rocrate-img" accept=".png,.jpg,.jpeg">
      </div>
    </div>
    <br>
    <label for="baseline-desc-container" class="info-marker">Add text to describe the experimental conditions that
      give the isolated yield (%) you reported for the “Standard Conditions” of your
      chemical process:</label>
    <div id="baseline-desc-container">
      <div class="ql-full" id="rocrate-baseline-desc" placeholder="Describe standard conditions here"></div>
    </div>

    <br>
    <strong>Test Conditions</strong>
    <p class="info-marker">Add a description which clearly describes how each “Test condition” differs from the
      Standard Conditions of your chemical transformation.</p>
    <table id="rocrate-cond-desc-table">
      <tr class="rocrate-cond-row">
        <td class="rocrate-cond-label">
          <div class="rocrate-cond-desc-label" id="rcdl-0"></div>
        </td>
        <td class="rocrate-cond-desc">
          <div class="rocrate-cond-desc-container">
            <div class="rocrate-cond-desc-input" id="rcdi-0"></div>
          </div>
        </td>
      </tr>
      <tr class="rocrate-cond-row">
        <td class="rocrate-cond-label">
          <div class="rocrate-cond-desc-label" id="rcdl-1"></div>
        </td>
        <td class="rocrate-cond-desc">
          <div class="rocrate-cond-desc-container">
            <div class="rocrate-cond-desc-input" id="rcdi-1"></div>
          </div>
        </td>
      </tr>
      <tr class="rocrate-cond-row">
        <td class="rocrate-cond-label">
          <div class="rocrate-cond-desc-label" id="rcdl-2"></div>
        </td>
        <td class="rocrate-cond-desc">
          <div class="rocrate-cond-desc-container">
            <div class="rocrate-cond-desc-input" id="rcdi-2"></div>
          </div>
        </td>
      </tr>
      <tr class="rocrate-cond-row">
        <td class="rocrate-cond-label">
          <div class="rocrate-cond-desc-label" id="rcdl-3"></div>
        </td>
        <td class="rocrate-cond-desc">
          <div class="rocrate-cond-desc-container">
            <div class="rocrate-cond-desc-input" id="rcdi-3"></div>
          </div>
        </td>
      </tr>
      <tr class="rocrate-cond-row">
        <td class="rocrate-cond-label">
          <div class="rocrate-cond-desc-label" id="rcdl-4"></div>
        </td>
        <td class="rocrate-cond-desc">
          <div class="rocrate-cond-desc-container">
            <div class="rocrate-cond-desc-input" id="rcdi-4"></div>
          </div>
        </td>
      </tr>
    </table>

    <br><br>
    <h5>About this dataset</h5>

    <table class="label-table" id="rocrate-title-table">
      <tr class="title-row">
        <td class="label-cell">
          <label for="rocrate-title-input" id="rocrate-title-label">Title:</label>
        </td>
        <td class="title-input-cell">
          <div class="title-input-container">
            <div id="rocrate-title-input" placeholder="Enter dataset title"></div>
          </div>
        </td>
      </tr>
      <tr class="desc-row">
        <td class="label-cell">
          <label for="rocrate-desc-input" id="rocrate-desc-label">Description:</label>
        </td>
        <td class="desc-input-cell">
          <div class="desc-input-container">
            <div id="rocrate-desc-input" placeholder="Enter brief dataset description"></div>
          </div>
        </td>
      </tr>
    </table>

    <strong>About:</strong><br>
    <label for="rocrate-about" class="info-marker">You can customise the following text that describes the purpose
      of the dataset:</label>
    <div id="rocrate-about-container">
      <div class="ql-full" id="rocrate-about"
        placeholder="Enter full description of the dataset, describing its purpose">
        This dataset enables users to visualise the sensitivity of a given chemical
        transformation to user-defined reaction conditions through the use of a Glorius Plot, based on an original
        concept from the Glorius research group.
      </div>
    </div>

    <button type="button" id="rocrate-default-title-desc" class="no-left-margin"
      title="Use default values for the Title, Description, and About sections, based on the plot title">Use
      defaults</button>
    <button type="button" id="rocrate-revert-title-desc" class="no-left-margin"
      title="Revert to previously-entered values, before using defaults or before the last revert"
      disabled>Revert</button>

    <br><br>
    <strong>License:</strong>
    <p class="info-marker"><a href="https://guidance.psdi.ac.uk/docusaurus-pages/docs/guidance/fair/license/">
        Choosing a license enables others to understand what they can do with your data</a>. Select
      from the license options below or choose an alternative license in Other. You can visit <a
        href="https://spdx.org">spdx.org</a> to find out more about kinds of licenses that might be appropriate for
      your project. If your license requires attribution, you must enter bibliographic information about the
      contributors to this dataset below.</p>
    <ul class="no-bullet">
      <li><input type="radio" name="rocrate-license" id="rocrate-license-none" class="small-right-margin" value="none"
          checked>
        <label for="rocrate-license-none">None (not recommended)</label>
      </li>
      <li><input type="radio" name="rocrate-license" id="rocrate-license-cc0" class="small-right-margin"
          value="cc0-1.0">
        <label for="rocrate-license-cc0"><a href="https://spdx.org/licenses/CC0-1.0.html" target="_blank">CC0-1.0
            (Public Domain)</a></label>
      </li>
      <li><input type="radio" name="rocrate-license" id="rocrate-license-cc-by-4.0" class="small-right-margin"
          value="cc-by-4.0">
        <label for="rocrate-license-cc-by-4.0"><a href="https://spdx.org/licenses/CC-BY-4.0.html"
            target="_blank">CC-BY-4.0 (Attribution)</a></label>
      </li>
      <li><input type="radio" name="rocrate-license" id="rocrate-license-cc-by-sa-4.0" class="small-right-margin"
          value="cc-by-sa-4.0">
        <label for="rocrate-license-cc-by-sa-4.0"><a href="https://spdx.org/licenses/CC-BY-SA-4.0.html"
            target="_blank">CC-BY-SA-4.0 (Attribution Share Alike)</a></label>
      </li>
      <li><input type="radio" name="rocrate-license" id="rocrate-license-other" class="small-right-margin"
          value="other">
        <label for="rocrate-license-other">Other</label>
        <div id="rocrate-license-details">
          <div class="multicol-on-big-screen m900 tiny-row-gap left-justify ml2">
            <div class="multicol-element">
              <label for="rocrate-license-name" class="w3 text-align-right"><strong>Name:</strong></label>
              <input type="text" id="rocrate-license-name" class="w20-on-big-fr-on-small" disabled>
            </div>
            <div class="multicol-element">
              <label for="rocrate-license-url" class="w3 text-align-right"><strong>Link:</strong></label>
              <input type="text" id="rocrate-license-url" class="w20-on-big-fr-on-small" disabled>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <br>
    <h5>Bibliographic Information</h5>

    <p class="info-marker">
      Adding information in this section enables others to understand who contributed to the research and to provide the
      appropriate attribution. If you do not have an ORCID, <a href="https://orcid.org/register">Register on the ORCID
        website</a> to create a persistent identifier that links you to your research and data. Alternatively add a link
      to your LinkedIn account or personal institutional web page.
    </p>

    <table id="rocrate-num-contrib-table" class="label-table">
      <tr>
        <td>
          <label for="num-contrib">Number of contributors: </label>
        </td>
        <td>
          <select name="num-contrib" id="num-contrib">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </td>
      </tr>
    </table>
    <div id="rocrate-contrib-table" class="label-table">
      <div class="rocrate-contrib-row" id="rcw-0">
        <div class="rocrate-contrib-button-cell row-button-cell">
          <div class="row-button-container">
            <button type="button" id="remove-rcb-0" class="remove-contrib fix-size-small" disabled
              title="Remove this contributor">-</button>
            <button type="button" id="add-rcb-0" class="add-contrib fix-size-small" title="Add a contributor">+</button>
          </div>
        </div>
        <div class="rocrate-contrib-right-of-button">
          <div class="multicol-on-big-screen m900 tiny-row-gap">
            <div class="multicol-element nowrap">
              <label for="rni-0" class="rocrate-name-label text-align-right" id="rnl-0"><strong>Name:</strong></label>
              <input type="text" name="rocrate-name-input" class="rocrate-name-input" id="rni-0">
              <button type="button" class="rocrate-orcid-lookup" id="rob-0"
                title="Search for this name on the ORCID site to find the appropriate ORCID">ORCID Lookup</button>
            </div>
            <div class="multicol-element">
              <label for="roi-0" class="rocrate-orcid-label text-align-right" id="rol-0"><strong>ORCID or other
                  link:</strong></label>
              <input type="url" name="rocrate-orcid-input" class="rocrate-orcid-input" id="roi-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <label for="rocrate-email-table" class="info-marker">Providing contact information enables a user to make
      contact if they are interested in your research or wish to ask questions.</label>
    <table class="label-table" id="rocrate-email-table">
      <tr class="rocrate-email-row">
        <td class="label-cell">
          <label for="rocrate-email-input">Primary contact email:</label>
        </td>
        <td class="input-cell">
          <input type="email" name="rocrate-email-input" id="rocrate-email-input">
        </td>
      </tr>
    </table>

    <br>
    <label for="rocrate-citation-container" class="info-marker">Please customise citation text in the box below.
      This citation will be added to the README describing your data package:</label>
    <div id="rocrate-citation-container">
      <div class="ql-full" id="rocrate-citation" name="rocrate-citation"></div>
    </div>
    <button type="button" id="rocrate-default-citation" class="no-left-margin" title="Auto-generate a citation, based
    on the provided contributor names (check that the surnames are detected correctly)">Use default</button>
    <button type="button" id="rocrate-revert-citation" class="no-left-margin"
      title="Revert to previously-entered citation value, before using default or before the last revert"
      disabled>Revert</button>

    <br><br>
    <h5 id="rocrate-file-structure">File Structure</h5>

    <p class="info-marker">The following files and directory structure will be created in a zip file when you click
      the “Download Data Package” button below.
    </p>

    <ul>
      <li><code>glorius-plot/</code>
        <ul>
          <li><code>ESI.pdf</code></li>
          <li><code>README.md</code></li>
          <li><code>ro-crate-metadata.json</code></li>
          <li><code>data/</code>
            <ul>
              <li id="rocrate-reaction-scheme-li" class="hidden"><code>reaction_scheme.cdxml</code></li>
              <li id="rocrate-baseline-li" class="hidden"><code>standard_conditions.html</code></li>
              <li id="rocrate-test-conditions-li" class="hidden"><code>test_conditions.csv</code></li>
              <li><code>plot/</code>
                <ul>
                  <li><code>glorius_plot.png</code></li>
                  <li><code>sensitivity_table.csv</code></li>
                  <li><code>user_preferences.json</code></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <span class="rocrate-download-and-spinner">
      <button type="button" id="rocrate-download">
        <img src="{{url_for('static', filename='img/icon-download.svg')}}" alt="Download icon" class="text-icon"
          title="Download data package">
        Download Data Package
      </button>
      <span class="loading-spinner spinner-border hidden"></span>
    </span>

  </form>
</details>
{% endblock %}